
<br><br><br><br>
<div class="col-lg-4 col-md-4 col-sm-2 "></div> 
<div class="col-lg-4  col-md-4 col-sm-8 ">
            <div class="box-header with-border">
              <h2 class="box-title">Linko Exchange Login</h2>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            
              <div class="box-body">
                <div class="form-group">
                  <label for="exampleInputEmail1">Email address</label>
                  <input type="email" class="form-control" id="login.userEmail" ng-model="login.userEmail" placeholder="Enter email" autocomplete="off" >
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Password</label>
                  <input type="password" class="form-control" id="login.userPassword" ng-model="login.userPassword"  placeholder="Password" autocomplete="off" >
                </div>
                 
                <div class="checkbox">
                  <label>
                    <input type="checkbox"> remember me!
                  </label>
                </div>
              </div>
              <!-- /.box-body -->

              <div class="box-footer">
                <button type="submit" class="btn btn-primary" ng-click="login.login();" >Submit</button> 
                
                <a  class="pull-right" ui-sref="plain.forget-password">Forget password</a>
                  
              </div>
          
          </div> 
<div class="col-lg-4 col-md-4 col-sm-2 "></div>