 

<br><br><br><br>
<div class="col-lg-4"></div> 
<div class="col-lg-4">
            <div class="box-header with-border">
              <h2 class="box-title">Recover you password</h2>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            
              <div class="box-body">
                <div class="form-group"  ng-if = "step === 1">
                  <label for="exampleInputEmail1">Step 1 : Input Email address</label>
                  <input type="email" class="form-control" id="userEmail" ng-model="login.userEmail" placeholder="Enter email" autocomplete="off" >
                </div>
                  
                <div class="form-group" ng-if = "step === 2">
                  <label for="exampleInputPassword1">Step 2 : {{questionText}}</label>
                  <input type="text" class="form-control" id="login.userQuestionAnswer" ng-model="login.userQuestionAnswer"  placeholder="type your answer here" autocomplete="off" >
                </div>
                  
               <div class="form-group" ng-if = "step === 3">
                  <label for="exampleInputPassword1"> A password recover email has been send to your email address .</label> 
               </div>
               
               
              <!-- /.box-body -->

              <div class="box-footer">
                <button ng-if = "step !== 3" type="submit" class="btn btn-primary" ng-click="login.nextStep();" >Next Step</button>  
                <a  class="pull-right" ui-sref="plain.login"> Home </a>
                  
              </div>
            
          </div> 
<div class="col-lg-4"></div>