<section class="content-header">
  <h1>
    Authority Account
    <small></small>
  </h1>
  <ol class="breadcrumb-left  visible-lg visible-md">
    <li><a href="/authority/industries"><i class="fa"></i> Authority </a></li>
    <li class="active">Account Settings</li>
  </ol>
</section>

<br/>     <br/>


<div class="seperator"></div>


<!--- panel start here -->

<div class="panel">

  <div class="col-lg-12 col-md-11 col-sm-12 col-xs-12 input-group">
    <div class=" pull-right">
        <!--<button id="authorityUsersBtn" class="k-primary" ng-click="authoritySetting.authorityUsers()"> Authority Users-->
      </button>
    </div>
  </div>


  <div class="pane-group">
    <div class="panel-body panel-collapse collapse in">

       <div class="panel panel-default">
        <div class="  panel-heading" data-toggle="collapse" data-target="#authorityInformationPanel">
          <strong>Authority Information</strong>
        </div>
        <div class="panel-body panel-collapse " id="authorityInformationPanel">

          <br/>
             <!---- step == 1  in edit mode --->
              <div class="form-horizontal row">
                  <div class="form-group">

                    <label for="exchangeId" class="col-lg-2 col-md-4 col-sm-12 col-xs-12 control-label">Exchange Authority ID</label>

                    <div class="col-lg-3 col-md-6 col-sm-12">
                      <input type="text" readonly class="form-control" id="exchangeId"  autocomplete="off" value="10-00394-01">
                    </div>

                    <label for="NPDES" class="col-lg-1 col-md-4 col-sm-12 col-xs-12  control-label">NPDES</label>
                    <div class="col-lg-2 col-md-6 col-sm-12">
                      <input type="text" readonly class="form-control" id="NPDES"  autocomplete="off" value="10-00394-01">
                    </div>
                  </div>
                </div>

                <div class="form-horizontal row">
                  <div class="form-group">
                    <label for="authorityName" class="col-lg-2 col-md-4 col-sm-12 col-xs-12 control-label">Authority Name</label>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                      <input type="text"  readonly class="form-control" id="authorityName"  autocomplete="off" value="Grand Rapid Authority">
                    </div>

                    <label for="signer" class="col-lg-1 col-md-4 col-sm-12 col-xs-12  control-label">Signer</label>
                    <div class="col-lg-2 col-md-6 col-sm-12">
                      <input type="text" readonly class="form-control" id="signer"  autocomplete="off" value="Kurt Anderson">
                    </div>


                  </div>
                </div>

                <div class="form-horizontal row">
                  <div class="form-group">
                    <label for="address" class="col-lg-2 col-md-4 col-sm-12 col-xs-12 control-label">Address</label>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                      <input type="text"  readonly class="form-control" id="address"  autocomplete="off" value="3353 Eastern, SE">
                    </div>

                    <label for="phone" class="col-lg-1 col-md-4 col-sm-12 col-xs-12  control-label">Phone</label>
                    <div class="col-lg-2 col-md-6 col-sm-12">
                      <input type="text" readonly class="form-control" id="phone"  autocomplete="off" value="(555) 111-222 Ext 2">
                    </div>
                  </div>
                </div>

                <div class="form-horizontal row">
                  <div class="form-group">
                    <label for="suite" class="col-lg-2 col-md-4 col-sm-12 col-xs-12 control-label">Suite</label>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                      <input type="text" readonly class="form-control" id="suite"  autocomplete="off" value="">
                    </div>

                    <label for="fax" class="col-lg-1 col-md-4 col-sm-12 col-xs-12  control-label">Fax</label>
                    <div class="col-lg-2 col-md-6 col-sm-12">
                      <input type="text" readonly class="form-control" id="fax"  autocomplete="off" value="(555) 111-222">
                    </div>

                  </div>
                </div>

                <div class="form-horizontal row">
                  <div class="form-group">
                    <label for="city" class="col-lg-2 col-md-4 col-sm-12 col-xs-12 control-label">City</label>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                      <input type="text" readonly class="form-control" id="city"  autocomplete="off" value="Grand Rapids">
                    </div>

                    <label for="web" class="col-lg-1 col-md-4 col-sm-12 col-xs-12  control-label">Web</label>
                    <div class="col-lg-2 col-md-6 col-sm-12">
                      <input type="text" readonly class="form-control" id="web"  autocomplete="off" value="">
                    </div>

                  </div>
                </div>

                <div class="form-horizontal row">
                  <div class="form-group">
                    <label for="state" class="col-lg-2 col-md-4 col-sm-12 col-xs-12 control-label">State/Province</label>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                      <input type="text" readonly class="form-control" id="state"  autocomplete="off" value="MI">
                    </div>

                    <label for="email" class="col-lg-1 col-md-4 col-sm-12 col-xs-12  control-label">Email</label>
                    <div class="col-lg-2 col-md-6 col-sm-12">
                      <input type="text" readonly class="form-control" id="email"  autocomplete="off" value="(555) 111-222">
                    </div>

                  </div>
                </div>

                <div class="form-horizontal row">
                  <div class="form-group">
                    <label for="zipcode" class="col-lg-2 col-md-4 col-sm-12 col-xs-12 control-label">Zip Code</label>
                    <div class="col-lg-3 col-md-6 col-sm-2">
                      <input type="text" readonly class="form-control" id="zipcode"  autocomplete="off" value="00000">
                    </div>

                  </div>
                </div>

                <div class="form-horizontal row">
                  <div class="form-group">
                    <label for="country" class="col-lg-2 col-md-4 col-sm-12 col-xs-12 control-label">Country</label>
                    <div class="col-lg-3 col-md-6 col-sm-12">
                      <input type="text" readonly class="form-control" id="country"  autocomplete="off" value="USA">
                    </div>


                  </div>
                </div>

        </div>
      </div>

       <div class="panel panel-default">
        <div class="panel-heading" data-toggle="collapse" data-target="#authoritySettingPanel">
          <strong>Authority Settings</strong>
        </div>

        <div class="panel-body panel-collapse collapse" id="authoritySettingPanel">

          <div class="panel-collapse in collapse" id="authoritySettingContent">
            <div class="col-sm-11">
              <br/>

                   <div class="form-horizontal row">
                      <div class="form-group">
                        <label for="numberFailedPasswordAttempts" class="col-lg-4 col-md-12 col-sm-12 col-xs-12 control-label"># Of Allowed
                          Failed Password Attempts:</label>
                        <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                          <input type="text"  ng-readonly="!authoritySettingsEditMode" class="form-control" id="numberFailedPasswordAttempts" placeholder="Chris" autocomplete="off"
                                 value="3">
                        </div>

                        <label for="industryLicenseNumber" class="col-lg-3 col-md-5 col-xs-12 col-sm-12 control-label"># Of Authority User Licenses:</label>
                        <!--<div class="col-sm-3">-->
                          <!--<input readonly class="form-control" id="industryLicenseNumber" placeholder="Chris" autocomplete="off"-->
                                 <!--value="100 Available/ 86 in Use">-->
                        <!--</div>-->
                      </div>
                    </div>

                    <div class="form-horizontal row">
                      <div class="form-group">

                        <label for="numberfFailedKBQAttempts" class="col-lg-4 col-md-12 col-sm-12 col-xs-12 control-label">#
                          Of Allowed Failed KBQ Answer Attempts:</label>

                         <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                          <input type="text" ng-readonly="!authoritySettingsEditMode" class="form-control" id="numberfFailedKBQAttempts" placeholder="Chris"
                                 autocomplete="off" value="5">
                        </div>

                        <label for="availableAuthorityUsers" class="col-lg-2 col-md-2  col-sm-12 col-xs-12 control-label">Available: </label>
                        <div class="col-lg-3 col-md-3  col-sm-12 col-xs-12">
                          <input class="form-control" ng-readonly="!authoritySettingsEditMode" id="availableAuthorityUsers"  autocomplete="off"
                                 value="30">
                        </div>
                      </div>
                    </div>

                   <div class="form-horizontal row ">
                      <div class="form-group">
                        <label for="invitationExpiresHours" class="col-lg-4 col-md-12  col-sm-12 col-xs-12 control-label">Invitation Expires this Many Hours after Sending:</label>

                        <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                          <input type="text" ng-readonly="!authoritySettingsEditMode"  class="form-control" id="invitationExpiresHours"  autocomplete="off" value="72">
                        </div>


                        <label for="authorityUsersInUse" class="col-lg-2 col-md-2 col-sm-12 col-xs-12  control-label">In Use: </label>
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                          <input class="form-control" ng-readonly="!authoritySettingsEditMode" id="authorityUsersInUse" placeholder="Chris" autocomplete="off" value="5">
                        </div>

                      </div>
                    </div>

                    <div class="form-horizontal row ">
                      <div class="form-group">
                        <label for="daysBeforeChangePassword" class="col-lg-4 col-md-5 col-sm-12  col-xs-12 control-label"># Of Days
                          Before Requring a Password Change:</label>
                        <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                          <input type="text" ng-readonly="!authoritySettingsEditMode" class="form-control" id="daysBeforeChangePassword" placeholder="Chris"
                                 autocomplete="off" value="180">
                        </div>

                      </div>
                    </div>

                    <div class="form-horizontal row ">
                      <div class="form-group">
                        <label for="numberOfPasswordUsedHistory" class="col-lg-4 col-md-5 col-sm-12 control-label"># Of Password Used In Password
                          History:</label>
                        <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                          <input type="text" ng-readonly="!authoritySettingsEditMode" class="form-control" id="numberOfPasswordUsedHistory" placeholder="Chris" autocomplete="off" value="10">
                        </div>


                      </div>
                    </div>

                    <div class=" form-horizontal row ">
                      <div class="form-group">
                        <label for="timeZone" class="col-lg-4 col-md-5 col-sm-12 control-label">Time Zone*</label>
                        <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                          <input type="text" ng-readonly="!authoritySettingsEditMode" class="form-control" id="timeZone" autocomplete="off" value="10">
                        </div>
                        <div class="col-xs-1">

                        </div>

                        <div class="col-xs-2">

                        </div>

                      </div>
                    </div>


              <div class="form-group pull-right" >
                <button id="authoritySettingSaveEditBtn" class="k-primary" ng-click="authoritySettingSaveEditBtnClicked();">{{authoritySettingsBtnText}}</button>
              </div>

            </div>
          </div>

        </div>
      </div>

       <div class="panel panel-default">
        <div class="panel-heading" data-toggle="collapse" data-target="#industryPretreatmentSettingPanel">
          <strong>Industry Pretreatment Program Settings</strong>
        </div>

        <div class="panel-body panel-collapse collapse" id="industryPretreatmentSettingPanel">

          <div class="panel-collapse in collapse" id="industryPretreatmentSettingContent">
            <div class="col-sm-11">
              <br/>

              <div class="form-horizontal row ">
                <div class="form-group">
                  <label for="maxDaysToRepudidate" class="col-lg-4 col-md-12  col-sm-12 col-xs-12 control-label">Max days after report period end date to repudiate:</label>

                  <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                    <input type="text" ng-readonly="!industryProgramEditMode" class="form-control" id="maxDaysToRepudidate" placeholder="Chris" autocomplete="off"
                           value="30">
                  </div>


                  <label for="nameOnEmails" class="col-lg-2 col-md-2 col-sm-12 col-xs-12  control-label">Names on Emails: </label>
                  <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <input class="form-control" ng-readonly="!industryProgramEditMode" id="nameOnEmails" placeholder="Chris" autocomplete="off"  value="City of Grand Rapids">
                  </div>

                </div>
              </div>


              <div class="form-horizontal row ">
                <div class="form-group">
                  <label for="decimalDefinition" class="col-lg-4 col-md-12  col-sm-12 col-xs-12 control-label">Using These Decimal Places for Loading Calculations:</label>

                  <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                    <input type="text" readonly class="form-control" id="decimalDefinition" placeholder="Chris" autocomplete="off"
                           value=".0">
                  </div>


                  <label for="phoneOnEmails" class="col-lg-2 col-md-2 col-sm-12 col-xs-12  control-label">Phone # on
                    Emails: </label>
                  <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <input class="form-control" ng-readonly="!industryProgramEditMode" id="phoneOnEmails" placeholder="Chris" autocomplete="off"
                           value="616-456-3260">
                  </div>

                </div>
              </div>

              <div class="form-horizontal row ">
                <div class="form-group">
                  <label for="maxLoadingFactor" class="col-lg-4 col-md-12  col-sm-12 col-xs-12 control-label">Mass Loading Pounds Conversion factor:</label>

                  <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                    <input type="text" class="form-control" readonly id="maxLoadingFactor" placeholder="Chris" autocomplete="off"
                           value="8.343">
                  </div>


                  <label for="emailOnEmails" class="col-lg-2 col-md-2 col-sm-12 control-label">Email on Emails: </label>
                  <div class="col-lg-3 col-md-3 col-sm-12">
                    <input class="form-control" ng-readonly="!industryProgramEditMode" id="emailOnEmails" placeholder="Chris" autocomplete="off"
                           value="linkoexchange@grand-rapid.mi.us">
                  </div>

                </div>
              </div>


              <div class="form-horizontal row ">
                <div class="form-group">
                  <label for="maxNumberUsers" class="col-lg-4 col-md-12  col-sm-12 col-xs-12 control-label">Max # of Users Per Industry:</label>

                  <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                    <input type="text" readonly class="form-control" id="maxNumberUsers" autocomplete="off"  value="5">
                  </div>


                </div>
              </div>

              <div class="form-horizontal row ">
                <div class="form-group">
                  <label for="maxNumberUsers" class="col-lg-4 col-md-12  col-sm-12 col-xs-12 control-label"># of Industry Licenses:</label>
                </div>
              </div>

              <div class="form-horizontal row ">
                <div class="form-group">
                  <label for="availableLicense" class="col-lg-4 col-md-12  col-sm-12 col-xs-12 control-label">Available:</label>

                  <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                    <input type="text" readonly class="form-control" id="availableLicense" placeholder="Chris" autocomplete="off"
                           value="200">
                  </div>
                </div>
              </div>

              <div class="form-horizontal row ">
                <div class="form-group">
                  <label for="numberOfLicenseInUse" class="col-lg-4 col-md-12  col-sm-12 col-xs-12 control-label">In Use:</label>

                  <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                    <input type="text" readonly class="form-control" id="numberOfLicenseInUse" placeholder="Chris" autocomplete="off"
                           value="86">
                  </div>
                </div>
              </div>


              <div class="form-group pull-right" >
                <button id="industryProgramSaveEditBtn" class="k-primary" ng-click="industryProgramSaveEditBtnClicked();">{{industryProgramEditSaveBtnText}}</button>
              </div>

            </div>
          </div>

        </div>
      </div>
   </div>
  </div>
</div>


<!--- panel ends here -->


<!--<form class="box form-horizontal">-->
  <!--<div class="col-md-11 col-sm-12 box ">-->
    <!--<div class="row">-->
      <!--<br/>-->
    <!--</div>-->

    <!--<div class="row">-->
      <!--<div class="form-group">-->
        <!--<label for="phone" class="col-lg-3 col-md-4 col-sm-12 col-xs-12 control-label">Exchange Authority ID</label>-->

        <!--<div class="col-lg-3 col-md-6 col-sm-12">-->
          <!--<input type="text" class="form-control" id="phone" placeholder="Chris" autocomplete="off" value="10-00394-01">-->
        <!--</div>-->

        <!--<label for="NPDES" class="col-lg-2 col-md-4 col-sm-12 col-xs-12  control-label">NPDES</label>-->
        <!--<div class="col-lg-3 col-md-6 col-sm-12">-->
          <!--<input type="text" class="form-control" id="NPDES" placeholder="Chris" autocomplete="off" value="10-00394-01">-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->


    <!--<div class="row">-->
      <!--<div class="form-group">-->
        <!--<label for="authorityName" class="col-lg-3 col-md-4 col-sm-12 col-xs-12  control-label">Authority Name-->
          <!--*:</label>-->

        <!--<div class="col-lg-8 col-md-6 col-xs-12 ">-->
          <!--<textbox class="form-control" id="authorityName" placeholder="Chris" autocomplete="off"> Authority name-->
          <!--</textbox>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->


    <!--<div class="row">-->
      <!--<div class="form-group">-->
        <!--<label for="phone" class="col-lg-3 col-md-4  col-sm-12 col-xs-12  control-label">Phone</label>-->

        <!--<div class="col-lg-3 col-md-6  col-sm-12 col-xs-12 ">-->
          <!--<textbox class="form-control" id="phone" placeholder="Chris" autocomplete="off"> (555)111-2222 Ext 2</textbox>-->
        <!--</div>-->

        <!--<label for="fax" class="col-lg-2 col-md-4  col-sm-12 col-xs-12 control-label">Fax</label>-->
        <!--<div class="col-lg-3 col-md-6  col-sm-12 col-xs-12">-->
          <!--<textbox class="form-control" id="fax" placeholder="555" autocomplete="off"> (555)111-2222</textbox>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->


    <!--<div class="row">-->
      <!--<div class="form-group">-->
        <!--<label for="physicalAddress" class="col-lg-3 col-md-4  col-sm-12 col-xs-12 control-label">Physical-->
          <!--Address</label>-->

        <!--<div class="col-lg-3 col-md-6  col-sm-12 col-xs-12">-->
                        <!--<textarea rows="4" class="form-control" id="physicalAddress" placeholder="Chris"-->
                                  <!--autocomplete="off"> 3353 Eastern, SE, Grand Rapids, MI 000000-->
                          <!--</textarea>-->
          <!--</textarea>-->
        <!--</div>-->

        <!--<label for="mailingAddress" class="col-lg-2 col-md-4  col-sm-12 col-xs-12 control-label">Mailing Address</label>-->
        <!--<div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">-->
                         <!--<textarea rows="4" class="form-control" id="mailingAddress" placeholder="Chris"-->
                                   <!--autocomplete="off"> 3353 Eastern, SE, Grand Rapids, MI 000000-->
                          <!--</textarea>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->

    <!--<div class="row">-->
      <!--<div class="form-group">-->
        <!--<label for="physicalAddress" class="col-lg-3 col-md-4  col-sm-12 col-xs-12 control-label">LinkCTS-->
          <!--Account: </label>-->

        <!--<div class="col-lg-3 col-md-6  col-sm-12 col-xs-12">-->
          <!--<textbox readonly class="form-control" id="physicalAddress" placeholder="Chris" autocomplete="off"> 23456-22-->
            <!--(user GUID)-->
          <!--</textbox>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->


    <!--<br/>-->
    <!--<br/>-->

    <!--<div class="box box-info col-sm-12">-->
      <!--<div class="box-header">-->
        <!--<h3 class="box-title">Configurations </h3>-->
      <!--</div>-->
      <!--<div class="box-body">-->

        <!--<div class="row">-->
          <!--<div class="form-group">-->
            <!--<label for="numberOfFailedSQAnswerTemplates" class="col-lg-5 col-md-12 col-sm-12 col-xs-12 control-label">#-->
              <!--Of Allowed Failed Password Templates</label>-->
            <!--<div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">-->
              <!--<input type="text" class="form-control" id="numberOfFailedSQAnswerTemplates" placeholder="Chris"-->
                     <!--autocomplete="off" value="3">-->
            <!--</div>-->

            <!--<label for="NPDES" class="col-lg-2 col-md-2  col-sm-12 col-xs-12 control-label">NPDES</label>-->
            <!--<div class="col-lg-3 col-md-3  col-sm-12 col-xs-12">-->
              <!--<input type="text" class="form-control" id="NPDES" placeholder="Chris" autocomplete="off"-->
                     <!--value="10-00394-01">-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->


        <!--<div class="row">-->
          <!--<div class="form-group">-->
            <!--<label for="numberOfFailedKBQ" class="col-lg-5 col-md-12 col-sm-12 col-xs-12 control-label"># Of Allowed-->
              <!--Failed KBQ Answer Templates</label>-->
            <!--<div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">-->
              <!--<input type="text" class="form-control" id="numberOfFailedKBQ" placeholder="Chris" autocomplete="off"-->
                     <!--value="3">-->
            <!--</div>-->

            <!--<label for="industryLicenseNumber" class="col-lg-2 col-md-5 col-xs-12 col-sm-12 control-label">Industry-->
              <!--Licenses #</label>-->
            <!--<div class="col-sm-3">-->
              <!--<input readonly class="form-control" id="industryLicenseNumber" placeholder="Chris" autocomplete="off"-->
                     <!--value="100 Available/ 86 in Use">-->
            <!--</div>-->

          <!--</div>-->

        <!--</div>-->


        <!--<div class="row">-->
          <!--<div class="form-group">-->
            <!--<label for="numberOfFailedSQAnswerTemplates" class="col-lg-5 col-md-12 col-sm-12 col-xs-12 control-label">#-->
              <!--Of Allowed Failed SQ Answer Templates</label>-->
            <!--<div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">-->
              <!--<input type="text" class="form-control" id="numberOfFailedSQAnswerTemplates" placeholder="Chris"-->
                     <!--autocomplete="off" value="3">-->
            <!--</div>-->

            <!--<label for="nameOnEmails" class="col-lg-2 col-md-2  col-sm-12 col-xs-12 control-label">Name on-->
              <!--Emails </label>-->
            <!--<div class="col-lg-3 col-md-3  col-sm-12 col-xs-12">-->
              <!--<input class="form-control" id="nameOnEmails" placeholder="Chris" autocomplete="off"-->
                     <!--value="City of Grand Rapids">-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->


        <!--<div class="row ">-->
          <!--<div class="form-group">-->
            <!--<label for="maxDaysToRepudidate" class="col-lg-5 col-md-5  col-sm-12 col-xs-12 control-label">Max days after-->
              <!--report period end date to repudiate:</label>-->
            <!--<div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">-->
              <!--<input type="text" class="form-control" id="maxDaysToRepudidate" placeholder="Chris" autocomplete="off"-->
                     <!--value="30">-->
            <!--</div>-->


            <!--<label for="phoneOnEmails" class="col-lg-2 col-md-2 col-sm-12 col-xs-12  control-label">Phone # on-->
              <!--Emails </label>-->
            <!--<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">-->
              <!--<input class="form-control" id="phoneOnEmails" placeholder="Chris" autocomplete="off"-->
                     <!--value="616-456-3260">-->
            <!--</div>-->

          <!--</div>-->
        <!--</div>-->

        <!--<div class="row ">-->
          <!--<div class="form-group">-->
            <!--<label for="daysBeforeChangePassword" class="col-lg-5 col-md-5 col-sm-12  col-xs-12 control-label"># Of Days-->
              <!--Before Requring a Password Change:</label>-->
            <!--<div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">-->
              <!--<input type="text" class="form-control" id="daysBeforeChangePassword" placeholder="Chris"-->
                     <!--autocomplete="off" value="180">-->
            <!--</div>-->

            <!--<label for="emailOnEmails" class="col-lg-2 col-md-2 col-sm-12 control-label">Email on Emails </label>-->
            <!--<div class="col-lg-3 col-md-3 col-sm-12">-->
              <!--<input class="form-control" id="emailOnEmails" placeholder="Chris" autocomplete="off"-->
                     <!--value="linkoexchange@grand-rapid.mi.us">-->
            <!--</div>-->

          <!--</div>-->
        <!--</div>-->

        <!--<div class="row ">-->
          <!--<div class="form-group">-->
            <!--<label for="firstName" class="col-lg-5 col-md-5 col-sm-12 control-label"># Of Password Used In Password-->
              <!--History:</label>-->
            <!--<div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">-->
              <!--<input type="text" class="form-control" id="firstName" placeholder="Chris" autocomplete="off" value="10">-->
            <!--</div>-->


          <!--</div>-->
        <!--</div>-->

        <!--<div class="row ">-->
          <!--<div class="form-group">-->
            <!--<label for="firstName" class="col-lg-5 col-md-5 col-sm-12 control-label">Time Zone*</label>-->
            <!--<div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">-->
              <!--<input type="text" class="form-control" id="firstName" placeholder="Chris" autocomplete="off" value="10">-->
            <!--</div>-->


            <!--<div class="col-xs-1">-->

            <!--</div>-->

            <!--<div class="col-xs-2">-->

            <!--</div>-->

          <!--</div>-->
        <!--</div>-->
      <!--</div>-->

</form>
</section>
