<section class="content-header">
  <h1>
    Settings
    <small></small>
  </h1>
  <ol class="breadcrumb-left  visible-lg visible-md">
    <li><a href="/authority/industries"><i class="fa"></i> Home </a></li>
    <li class="active">Settings</li>
  </ol>
</section>

<br/>     <br/>


<div class="seperator"></div> 

<div class="panel">

  <div class="col-lg-12 col-md-11 col-sm-12 col-xs-12 input-group">
    <div class=" pull-right"> 
      </button>
    </div>
  </div>


  <div class="pane-group">
    <div class="panel-body panel-collapse collapse in">

       <div class="panel panel-default">
        <div class="  panel-heading" data-toggle="collapse" data-target="#authorityInformationPanel">
          <strong>Authority Information</strong>
        </div>
        <div class="panel-body panel-collapse " id="authorityInformationPanel">

          <br/>
              
                      </div>
                    </div>

                    <div class="form-horizontal row">
                      <div class="form-group">

                        <label for="numberfFailedKBQAttempts" class="col-lg-4 col-md-12 col-sm-12 col-xs-12 control-label">#
                          Of Allowed Failed KBQ Answer Attempts:</label>

                         <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                          <input type="text" ng-readonly="!authoritySettingsEditMode" class="form-control" id="numberfFailedKBQAttempts" placeholder="Chris"
                                 autocomplete="off" value="5">
                        </div>

                        <label for="availableAuthorityUsers" class="col-lg-2 col-md-2  col-sm-12 col-xs-12 control-label">Available: </label>
                        <div class="col-lg-3 col-md-3  col-sm-12 col-xs-12">
                          <input class="form-control" ng-readonly="!authoritySettingsEditMode" id="availableAuthorityUsers"  autocomplete="off"
                                 value="30">
                        </div>
                      </div>
                    </div>

                   <div class="form-horizontal row ">
                      <div class="form-group">
                        <label for="invitationExpiresHours" class="col-lg-4 col-md-12  col-sm-12 col-xs-12 control-label">Invitation Expires this Many Hours after Sending:</label>

                        <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                          <input type="text" ng-readonly="!authoritySettingsEditMode"  class="form-control" id="invitationExpiresHours"  autocomplete="off" value="72">
                        </div>


                        <label for="authorityUsersInUse" class="col-lg-2 col-md-2 col-sm-12 col-xs-12  control-label">In Use: </label>
                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                          <input class="form-control" ng-readonly="!authoritySettingsEditMode" id="authorityUsersInUse" placeholder="Chris" autocomplete="off" value="5">
                        </div>

                      </div>
                    </div>

                    <div class="form-horizontal row ">
                      <div class="form-group">
                        <label for="daysBeforeChangePassword" class="col-lg-4 col-md-5 col-sm-12  col-xs-12 control-label"># Of Days
                          Before Requring a Password Change:</label>
                        <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                          <input type="text" ng-readonly="!authoritySettingsEditMode" class="form-control" id="daysBeforeChangePassword" placeholder="Chris"
                                 autocomplete="off" value="180">
                        </div>

                      </div>
                    </div>

                    <div class="form-horizontal row ">
                      <div class="form-group">
                        <label for="numberOfPasswordUsedHistory" class="col-lg-4 col-md-5 col-sm-12 control-label"># Of Password Used In Password
                          History:</label>
                        <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                          <input type="text" ng-readonly="!authoritySettingsEditMode" class="form-control" id="numberOfPasswordUsedHistory" placeholder="Chris" autocomplete="off" value="10">
                        </div>


                      </div>
                    </div>

                    <div class=" form-horizontal row ">
                      <div class="form-group">
                        <label for="timeZone" class="col-lg-4 col-md-5 col-sm-12 control-label">Time Zone*</label>
                        <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                          <input type="text" ng-readonly="!authoritySettingsEditMode" class="form-control" id="timeZone" autocomplete="off" value="10">
                        </div>
                        <div class="col-xs-1">

                        </div>

                        <div class="col-xs-2">

                        </div>

                      </div>
                    </div>


              <div class="form-group pull-right" >
                <button id="authoritySettingSaveEditBtn" class="k-primary" ng-click="authoritySettingSaveEditBtnClicked();">{{authoritySettingsBtnText}}</button>
              </div>

            </div>
          </div>

        </div>
      </div>

       <div class="panel panel-default">
        <div class="panel-heading" data-toggle="collapse" data-target="#industryPretreatmentSettingPanel">
          <strong>Industry Pretreatment Program Settings</strong>
        </div>

        <div class="panel-body panel-collapse collapse" id="industryPretreatmentSettingPanel">

          <div class="panel-collapse in collapse" id="industryPretreatmentSettingContent">
            <div class="col-sm-11">
              <br/>

              <div class="form-horizontal row ">
                <div class="form-group">
                  <label for="maxDaysToRepudidate" class="col-lg-4 col-md-12  col-sm-12 col-xs-12 control-label">Max days after report period end date to repudiate:</label>

                  <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                    <input type="text" ng-readonly="!industryProgramEditMode" class="form-control" id="maxDaysToRepudidate" placeholder="Chris" autocomplete="off"
                           value="30">
                  </div>


                  <label for="nameOnEmails" class="col-lg-2 col-md-2 col-sm-12 col-xs-12  control-label">Names on Emails: </label>
                  <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <input class="form-control" ng-readonly="!industryProgramEditMode" id="nameOnEmails" placeholder="Chris" autocomplete="off"  value="City of Grand Rapids">
                  </div>

                </div>
              </div>


              <div class="form-horizontal row ">
                <div class="form-group">
                  <label for="decimalDefinition" class="col-lg-4 col-md-12  col-sm-12 col-xs-12 control-label">Using These Decimal Places for Loading Calculations:</label>

                  <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                    <input type="text" readonly class="form-control" id="decimalDefinition" placeholder="Chris" autocomplete="off"
                           value=".0">
                  </div>


                  <label for="phoneOnEmails" class="col-lg-2 col-md-2 col-sm-12 col-xs-12  control-label">Phone # on
                    Emails: </label>
                  <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <input class="form-control" ng-readonly="!industryProgramEditMode" id="phoneOnEmails" placeholder="Chris" autocomplete="off"
                           value="616-456-3260">
                  </div>

                </div>
              </div>

              <div class="form-horizontal row ">
                <div class="form-group">
                  <label for="maxLoadingFactor" class="col-lg-4 col-md-12  col-sm-12 col-xs-12 control-label">Mass Loading Pounds Conversion factor:</label>

                  <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                    <input type="text" class="form-control" readonly id="maxLoadingFactor" placeholder="Chris" autocomplete="off"
                           value="8.343">
                  </div>


                  <label for="emailOnEmails" class="col-lg-2 col-md-2 col-sm-12 control-label">Email on Emails: </label>
                  <div class="col-lg-3 col-md-3 col-sm-12">
                    <input class="form-control" ng-readonly="!industryProgramEditMode" id="emailOnEmails" placeholder="Chris" autocomplete="off"
                           value="linkoexchange@grand-rapid.mi.us">
                  </div>

                </div>
              </div>


              <div class="form-horizontal row ">
                <div class="form-group">
                  <label for="maxNumberUsers" class="col-lg-4 col-md-12  col-sm-12 col-xs-12 control-label">Max # of Users Per Industry:</label>

                  <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                    <input type="text" readonly class="form-control" id="maxNumberUsers" autocomplete="off"  value="5">
                  </div>


                </div>
              </div>

              <div class="form-horizontal row ">
                <div class="form-group">
                  <label for="maxNumberUsers" class="col-lg-4 col-md-12  col-sm-12 col-xs-12 control-label"># of Industry Licenses:</label>
                </div>
              </div>

              <div class="form-horizontal row ">
                <div class="form-group">
                  <label for="availableLicense" class="col-lg-4 col-md-12  col-sm-12 col-xs-12 control-label">Available:</label>

                  <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                    <input type="text" readonly class="form-control" id="availableLicense" placeholder="Chris" autocomplete="off"
                           value="200">
                  </div>
                </div>
              </div>

              <div class="form-horizontal row ">
                <div class="form-group">
                  <label for="numberOfLicenseInUse" class="col-lg-4 col-md-12  col-sm-12 col-xs-12 control-label">In Use:</label>

                  <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                    <input type="text" readonly class="form-control" id="numberOfLicenseInUse" placeholder="Chris" autocomplete="off"
                           value="86">
                  </div>
                </div>
              </div>


              <div class="form-group pull-right" >
                <button id="industryProgramSaveEditBtn" class="k-primary" ng-click="industryProgramSaveEditBtnClicked();">{{industryProgramEditSaveBtnText}}</button>
              </div>

            </div>
          </div>

        </div>
      </div>
   </div>
  </div>
</div> 
</form>
</section>
