<section class="content-header">
    <h1>
        Industry Details
    </h1>
    <ol class="breadcrumb-left">
        <li><a href="/authority/industries"><i class="fa "></i> Home </a></li>
        <li class=""><a href="/authority/industries"> Industries </a></li>
        <li class="active">Details</li>
    </ol>
</section>

<br /><br />

<div class="seperator"> </div>

<form>
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading" data-target="#information">
                <strong>Industry Information</strong>
                <div class="form-group pull-right">
                    <button id="enableDisableButton" class="k-primary" ng-click="industrydetails.changeIndustryStatus();"> {{industrydetails.enabledButtonText}} </button>
                    <button id="indusryUser" class="k-primary" ng-click="industrydetails.industryUsers();">Users</button>
                </div>
            </div>
            <div class="panel-body panel-collapse collapse in" id="information">
                <div class="col-sm-11">
                    <div class="form-horizontal row">
                        <div class="form-group">
                            <label for="permitNo" class="col-md-2 control-label">Industry Number</label>

                            <div class="col-md-4">
                                <input type="text" readonly class="form-control" id="permitNo" value={{selectedIndustry.permitNo}} />
                            </div>

                            <label for="assignto" class="col-md-2 control-label">Assigned To</label>
                            <div class="col-md-4">
                                <input type="text" readonly class="form-control" id="assignTo" value={{selectedIndustry.assignTo}} />
                            </div>
                        </div>
                    </div>

                    <div class="form-horizontal row">
                        <div class="form-group">
                            <label for="industry" class="col-md-2 control-label">Industry Name</label>

                            <div class="col-md-4">
                                <input type="text" rows="2" class="form-control" id="industry" readonly value={{selectedIndustry.industry}} />
                            </div>

                          <label for="hasSignatory" class="col-md-2 control-label">Has Signatory?</label>
                          <div class="col-md-4">
                            <input type="text" readonly class="form-control" id="hasSignatory" value={{selectedIndustry.hasSignatory}} />
                          </div>

                            <!--<label for="address" class="col-md-2 control-label">Address </label>-->
                            <!--<div class="col-md-4">-->
                                <!--<textarea rows="1" class="form-control text-justify" id="address" readonly>{{selectedIndustry.address}}</textarea>-->
                            <!--</div>-->
                        </div>
                    </div>


                  <div class="form-horizontal row">
                    <div class="form-group">
                      <label for="address" class="col-md-2 control-label">Address</label>

                      <div class="col-md-4">
                        <input type="text" readonly class="form-control" id="address" value={{selectedIndustry.address}} />
                      </div>

                      <label for="enabled" class="col-md-2 control-label">Enabled?</label>
                      <div class="col-md-4">
                        <input type="text" readonly class="form-control" id="enabled" value={{selectedIndustry.enabled}} />
                      </div>
                    </div>
                  </div>


                  <div class="form-horizontal row">
                    <div class="form-group">
                      <label for="suite" class="col-md-2 control-label">Suite</label>

                      <div class="col-md-4">
                        <input type="text" readonly class="form-control" id="suite" value={{selectedIndustry.suite}} />
                      </div>



                      <label for="lastsubmission" class="col-md-2 control-label">Last Submission</label>

                      <div class="col-md-4">
                        <input type="text" readonly class="form-control" id="lastsubmission" value={{selectedIndustry.lastsubmission}} />
                      </div>


                    </div>
                  </div>


                    <div class="form-horizontal row">
                        <div class="form-group">
                            <label for="city" class="col-md-2 control-label">City</label>

                            <div class="col-md-4">
                                <input type="text" readonly class="form-control" id="city" value={{selectedIndustry.city}} />
                            </div>

                        </div>
                    </div>

                  <div class="form-horizontal row">
                    <div class="form-group">
                      <label for="state" class="col-md-2 control-label">State</label>

                      <div class="col-md-4">
                        <input type="text" readonly class="form-control" id="state" value={{selectedIndustry.state}} />
                      </div>

                    </div>
                  </div>


                  <!--<div class="form-horizontal row">
                  <div class="form-group">
                      <label for="activeDataEntryForTemplates" class="col-md-2 control-label">Active Data Entry Form Templates</label>

                      <div class="col-md-4">
                          <input rows="2" class="form-control" id="activeDataEntryForTemplates" readonly value={{selectedIndustry.activeDataEntryForTemplates}}
                          />
                      </div>

                      <label for="isEnabled" class="col-md-2 control-label">Has Enabled?</label>
                      <div class="col-md-4">
                          <input type="text" readonly class="form-control" id="isEnabled" value={{selectedIndustry.enabled}}  />
                      </div>
                  </div>
                  </div>-->
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" data-target="#dataEntryFormTemplate">
                <!--data-toggle="collapse"-->
                <strong>Data Entry Form Templates</strong>
                <div class="form-group pull-right">
                    <button id="indusryUser" class="k-primary" ng-click="industrydetails.newDEFT();">New</button>
                </div>
            </div>
            <div class="panel-body panel-collapse collapse in" id="dataEntryFormTemplate">
                <div kendo-grid='industries.deft' k-options="mainGridOptions_deft">
                </div>
            </div>
        </div>
    </div>
</form>
