
<section class="content-header">
      <h1>
        Industries
      </h1>
      <ol class="breadcrumb-left visible-lg visible-md">
        <li><a href="/authority/industries"><i class=""></i> Home </a></li>
        <li class="active">Industries</li>
      </ol>

</section>

 <br/><br/>
<div class="seperator" > </div>


<div class="row" ng-if="industries.simpleSearch === true">
    <div class="col-lg-4">
        <input type="text" class="form-control" placeholder="Search for Industry No., Industry, Address" ng-model="industries.searchKey" ng-change="industries.searchChanged()">
    </div>
    <div class="col-lg-8"></div>
</div>

<!--
  <div class="pull-right  visible-lg visible-md"  >
    <button ng-disabled="industries.selectedOne === false"  id="primaryTextButton" class="k-primary" ng-click="industries.changeIndustryStatus();"  > {{industries.enabledButtonText }} </button>
    <button ng-disabled="industries.selectedOne === false" id="primaryTextButton" class="k-primary" ng-click="industries.industryUsers();"  >Industry User</button>
  </div>
-->
<br/>
<div class="row">
<div class="col-lg-2">

         <button type="button" class="btn btn-block btn-primary btn-sm" ng-click='industries.toggleSearchMode();'>
                     {{industries.searchButtonText}}
         </button>
         <!--<button type="button" class="btn btn-block btn-primary btn-sm visible-sm visible-xs" ng-click='industries.toggleSearchMode();'>
                     {{industries.searchButtonText2}}!
         </button>-->

</div>
<div class="col-lg-11">

</div>
</div>


<div class="visible-xs visible-sm">
    <button ng-disabled="industries.selectedOne === false" id="primaryTextButton" class="k-primary" ng-click="industries.changeIndustryStatus();"  > {{industries.enabledButtonText }} </button>
    <button ng-disabled="industries.selectedOne === false" id="primaryTextButton" class="k-primary" ng-click="industries.industryUsers();"  >Industry User</button>
</div>
<br/>
<div kendo-grid='industries.industryGrid'  k-options="mainGridOptions_2" >
</div>
