
<section class="content-header">
  <h1>
    Complete Your Registration Profile
  </h1> <br/>
  <ol class="breadcrumb-left visible-lg visible-md">
    <li><a href="/authority/index"><i class="fa fa-home"></i> Home </a></li>
    <li class=""><a href="/authority/industries"> Industries </a></li>
    <li class="active"> <a href="/authority/industries"> Industries </a>  </li>
    <li class="active"> <a href="authority/industries/{{selectedIndustry.permitNo}}/details"> Industry Details </a>  </li>
    <li class="active"> <a href="authority/industries/{{selectedIndustry.permitNo}}/users"> User List </a>  </li>
    <li class=""> Complete Your Registration Profile  </li>
  </ol>
</section>

<br/><br/>
<div class="seperator" > </div>

<div ng-if="iuregistration.step ===1" registration-i-u-basic></div>

<div ng-if="iuregistration.step ===2" registration-i-u-basic></div>
