
<style>
  table {
    border: solid 0px !important;

    margin: 5px;
  }

  td {
    margin-left:10px;
    padding-left: 10px;
  }

  .gap-tab{
    width:10px;
    padding-left: 50px;
  }

</style>

<section class="content-header">
  <h1>
    <div ng-if="iuregistration.step ===1 || iuregistration.step ===2" >
      Complete Registration Profile
      <br/><br/>
      <div class="seperator"></div>
      <h3>Hello Chris</h3>
      <h4>You've been invited to be a user of LinkoExchange.
        Please complete your registration profile.
      </h4>
    </div>
    <div ng-if="iuregistration.step ===3" > Review Your Registration Profile</div>
    <div ng-if="iuregistration.step ===4" > Registration Complete!</div>
  </h1>
</section>

<br/>


<div class="panel">

  <div class="pane-group">
    <div class="panel-body panel-collapse collapse in"> 

      <div class="panel panel-default">
        <div class="panel-heading" data-toggle="collapse" data-target="#authoritySettingPanel"  ng-class="currentStep == 1 ? 'collapsed': 'expand' " >
          <strong>Profile Details</strong>
        </div>

        <!--ng-class="editProfileDetails == false ? 'expand': 'collapse'"-->
        <div class="panel-body panel-collapse collapse  in" id="authoritySettingPanel" ng-class="currentStep > 1 ? 'collapsed collapse': 'expand in'" >
          <div class="panel-collapse in collapse in" id="authoritySettingContent"  ng-class="currentStep > 1 ? 'collapsed collapse': 'expand in'" >

            <div profile-details user-profile= "userProfile" editmode= editProfileDetails  />

            <div class="form-group pull-right" >
              <button id="detailEditBtn" ng-if="editProfileDetails == false"  class="k-primary" ng-click="detailEditBtnClicked();">Edit</button>
              <button id="detailNextBtn" ng-if="editProfileDetails == true"  class="k-primary" ng-click="detailNextBtnClicked();">Next</button>
            </div>

          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading" data-toggle="collapse" data-target="#kbqQuestionsPanel" ng-class="currentStep != 2 ? 'collapsed': 'expand' ">
          <strong>Knowledge Based Questions</strong>
        </div>

        <div class="panel-body panel-collapse collapse " id="kbqQuestionsPanel"  ng-class="currentStep != 2 ? 'collapsed': 'expand in' ">

          <div class="panel-collapse in collapse" id="kbqQuestionsContent">
              <div kbq-info title1= "title1" user-profile= "userProfile" editmode= editProfileKBQ  />

              <div class="form-group pull-right" >
                <button id="kbqPreviousBtn" class="k-primary" ng-click="kbqPreviousBtnClicked();">Previous</button>
                <button id="kbqEditBtn" ng-if="editProfileKBQ == false" class="k-primary" ng-click="kbqEditBtnClicked();">Edit</button>
                <button id="kbqNextBtn"  class="k-primary" ng-click="kbqNextBtnClicked();">Next</button>
              </div>
          </div>

        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading" data-toggle="collapse" data-target="#securityQuestionsPanel" ng-class="currentStep != 3 ? 'collapsed': 'expand' ">
          <strong>Security Questions</strong>
        </div>

        <div class="panel-body panel-collapse collapse" id="securityQuestionsPanel" ng-class="currentStep != 3 ? 'collapsed': 'expand in' ">

          <div class="panel-collapse in collapse" id="securityQuestionsContent">

            <div security-questions title1= "title1" user-profile= "userProfile" editmode= editProfileSQ />
            <br/>
            <div class="form-group  pull-right" >
              <button id="sqPreviousBtn" class="k-primary" ng-click="sqPriviousBtnClicked();"> Previous </button>
              <button id="sqEditBtn" class="k-primary" ng-if="editProfileSQ == false" ng-click="sqEditBtnClicked();"> Edit </button>
              <button id="sqSaveBtn" class="k-primary" ng-if="editProfileSQ== true" ng-click="sqSaveBtnClicked();"> Save </button>
            </div>

          </div>

        </div>
      </div>

    </div>
  </div>
</div>


<!--<div ng-if="iuregistration.step ===1" registration-i-u-basic></div>-->

<!--<div ng-if="iuregistration.step ===2" registration-i-u-secure></div>-->


<div ng-if="iuregistration.step ===3">
  <div registration-i-u-profile ></div>
</div>

<div ng-if="iuregistration.step ===4">
<div class="seperator" > </div>
  <div class="col-lg-1"></div>
  <div class="col-lg-10">
    <p>
    Thanks for Registering {{iuregistration.userProfile.firstName}} {{iuregistration.userProfile.lastName}}
    !
    <br/><br/>

     Your LinkoExchange Registration has been received and is now under review for the following:

     <table>
     <tr>
      <td class="gap-tab"></td>    </td> <td><strong> Authority :  </strong></td> <td>Grand Rapids Environmental Services Department</td></tr>
     <tr>
       <td class="gap-tab"></td>    <td><strong>Facility : </strong></td> <td>Kerry Sweet Ingredients <br/> </td></tr>

    <tr>
      <td class="gap-tab"></td>    <td><strong>  </strong></td> <td> 4444 52nd St. SE. <br/>Kentwood MI 49512 </td>
    </tr>

     </table>

     <br/>
     You will be notified by email when a decision has been made about your account request.

     <br/><br/>
     If you have questions or concerns, please contact Grand Rapids Environmental Services Department
     at <strong>linkoexchange@grand-rapids.mi.us</strong> or <strong>616-456-3260</strong>.

     <br/>
    <br/>
    </p>
  </div>
</div>
