<style>
  .content-wrapper {
    height: 1150px !important;
  }

</style>

<div class="box col-lg-11">
  <div class="box-header with-border">
    <div class="pull-right">

    </div>

  </div>
  <!-- /.box-header -->
  <!-- form start -->

  <form class="form-horizontal" _lpchecked="1">
    <div class="box-body">

      <div class="form-group">
        <label for="salutation" class="col-sm-2 control-label">Salutation </label>

        <div class="col-sm-6">
          <input type="textbox"  class="form-control" id="salutation"  ng-model="iuregistration.userProfile.salutation" autocomplete="off">
        </div>
      </div>

      <div class="form-group">
        <label for="firstName" class="col-sm-2 control-label">First Name </label>

        <div class="col-sm-6">
          <input type="textbox"  class="form-control" id="firstName"  ng-model="iuregistration.userProfile.firstName" autocomplete="off">
        </div>
      </div>

      <div class="form-group">
        <label for="middleName" class="col-sm-2 control-label">Middle Name </label>
        <div class="col-sm-6">
          <input type="textbox"  class="form-control" id="middleName"  ng-model="iuregistration.userProfile.middleName" autocomplete="off">
        </div>
      </div>

      <div class="form-group">
        <label for="lastName" class="col-sm-2 control-label">Last Name </label>

        <div class="col-sm-6">
          <input type="textbox"  ng-model="iuregistration.userProfile.lastName"  class="form-control" id="lastName"  autocomplete="off">
        </div>
      </div>

      <div class="form-group">
        <label for="facilityName" class="col-sm-2 control-label">Facility/Bussiness Name*</label>

        <div class="col-sm-6">
          <input type="facilityName"  ng-model="iuregistration.userProfile.facilityName"  class="form-control" id="facilityName"  autocomplete="off">
        </div>
      </div>

      <div class="form-group">
        <label for="mailAddress" class="col-sm-2 control-label">Mailing Address*</label>

        <div class="col-sm-6">
          <input type="textbox"  ng-model="iuregistration.userProfile.mailAddress"  class="form-control" id="mailAddress"  autocomplete="off">
        </div>
      </div>

      <div class="form-group">
        <label for="suit" class="col-sm-2 control-label">Suit </label>

        <div class="col-sm-6">
          <input type="textbox"  ng-model="iuregistration.userProfile.suit"  class="form-control" id="suit"  autocomplete="off">
        </div>
      </div>

      <div class="form-group">
        <label for="city" class="col-sm-2 control-label">City </label>

        <div class="col-sm-6">
          <input type="textbox"  ng-model="iuregistration.userProfile.city"  class="form-control" id="city"  autocomplete="off">
        </div>
      </div>

      <div class="form-group">
        <label for="state" class="col-sm-2 control-label">State </label>

        <div class="col-sm-6">
          <input type="textbox"  ng-model="iuregistration.userProfile.state"  class="form-control" id="state"  autocomplete="off">
        </div>
      </div>

      <div class="form-group">
        <label for="zipCode" class="col-sm-2 control-label">Zip Code* </label>

        <div class="col-sm-6">
          <input type="textbox"  ng-model="iuregistration.userProfile.zipCode"  class="form-control" id="zipCode"  autocomplete="off">
        </div>
      </div>

      <div class="form-group">
        <label for="phone" class="col-sm-2 control-label">Phone* </label>

        <div class="col-sm-6">
          <input type="textbox"  ng-model="iuregistration.userProfile.phone"  class="form-control" id="phone"  autocomplete="off">
        </div>
      </div>

      <div class="form-group">
        <label for="extension" class="col-sm-2 control-label">Extension </label>

        <div class="col-sm-6">
          <input type="textbox" ng-model="iuregistration.userProfile.extension"  class="form-control" id="extension"  autocomplete="off">
        </div>
      </div>

      <div class="form-group">
        <label for="fax" class="col-sm-2 control-label">Fax </label>

        <div class="col-sm-6">
          <input type="textbox"  ng-model="iuregistration.userProfile.fax"  class="form-control" id="fax"  autocomplete="off">
        </div>
      </div>

      <div class="form-group">
        <label for="cell" class="col-sm-2 control-label">Cell </label>

        <div class="col-sm-6">
          <input type="textbox"  ng-model="iuregistration.userProfile.cell"  class="form-control" id="cell"  autocomplete="off">
        </div>
        <div class="col-lg-2">
          Password Requirements:<br>
        </div>
      </div>

      <div class="form-group">
        <label for="email" class="col-sm-2 control-label">Email* </label>

        <div class="col-sm-6">
          <input type="email"  ng-model="iuregistration.userProfile.email" class="form-control" id="email"  autocomplete="off">
        </div>


        <div class="col-lg-2">
          8-15 characters in length
        </div>
      </div>

      <div class="form-group">
        <label for="requestedUserName" class="col-sm-2 control-label">Requested User Name </label>

        <div class="col-sm-6">
          <input type="textbox"  ng-model="iuregistration.userProfile.requestedUserName"  class="form-control" id="requestedUserName"  autocomplete="off">
        </div>

        <div class="col-lg-2">
          At least 1 upper case letter
          At least 1 lower case letter

        </div>
      </div>


      <div class="form-group">
        <label for="password" class="col-sm-2 control-label">Password* </label>

        <div class="col-sm-6">
          <input type="password"  ng-model="iuregistration.userProfile.password" class="form-control" id="password"  autocomplete="off">
        </div>

        <div class="col-lg-2">
          At least 1 number
          Special characters allowed
        </div>
      </div>


      <div class="form-group">
        <label for="confirmPassword" class="col-sm-2 control-label">Confirm Password* </label>

        <div class="col-sm-6">
          <input type="password"  ng-model="iuregistration.userProfile.confirmPassword" class="form-control" id="confirmPassword"  autocomplete="off">
        </div>
        <div class="col-lg-2">
          You can not reuse the last <10> passwords
        </div>
      </div>

    </div>

    <div class="form-group">
      <label for="button" class="col-sm-2 control-label">  </label>

      <div class="col-sm-6">
        <button  id="button" class="btn btn-primary pull-right" ng-click="iuregistration.nextStep();">Next</button>
      </div>

    </div>
 </form>
</div>
