<style>
  .content-wrapper {
    height: 2150px !important;
  }

</style>
<div class="seperator" > </div>
<div class="">

<div class="col-lg-12">
  <div class="box-header">
    <div class="">
      <h3>Select Answers to 5 Knowledge Based Questions</h3>
      Knowledge Based Questions are used along with your password to further prove your identity during report submission.

      During report submission you will be required to enter an answer that matches what you enter below.
    </div>
  </div>
  <!-- /.box-header -->
  <!-- form start -->

  <form class="form-horizontal" >
    <div class="box-body">
      <div class="form-group">
        <label for="question1" class="col-sm-2 control-label">Question 1 </label>

        <div class="col-sm-6">
          <select  class="form-control" class="col-sm-6" name="question1" id="question1" ng-model="iuregistration.userProfile.kbqQuestion1">
            <option ng-repeat="option in kbqQuestions.availableOptions" value="{{option.value}}">{{option.value}}</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label for="question1Answer" class="col-sm-2 control-label">Answer</label>

        <div class="col-sm-6">
          <input type="textbox"  class="form-control" id="question1Answer"  ng-model="iuregistration.userProfile.kbqQuestion1Answer" autocomplete="off">
        </div>
      </div>

      <div class="form-group">
        <label for="question2" class="col-sm-2 control-label">Question 2 </label>

        <div class="col-sm-6">
          <select  class="form-control" class="col-sm-6" name="question2" id="question2" ng-model="iuregistration.userProfile.kbqQuestion2">
            <option ng-repeat="option in kbqQuestions.availableOptions" value="{{option.value}}">{{option.value}}</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label for="question2Answer" class="col-sm-2 control-label">Answer</label>

        <div class="col-sm-6">
          <input type="textbox"  class="form-control" id="question2Answer"  ng-model="iuregistration.userProfile.kbqQuestion2Answer" autocomplete="off">
        </div>
      </div>

      <div class="form-group">
        <label for="question3" class="col-sm-2 control-label">Question 3 </label>
        <div class="col-sm-6">
          <select  class="form-control" class="col-sm-6" name="question3" id="question3" ng-model="iuregistration.userProfile.kbqQuestion3">
            <option ng-repeat="option in kbqQuestions.availableOptions" value="{{option.value}}">{{option.value}}</option>
          </select>
        </div>
      </div>


      <div class="form-group">
        <label for="question3Answer" class="col-sm-2 control-label">Answer</label>

        <div class="col-sm-6">
          <input type="textbox"  class="form-control" id="question3Answer"  ng-model="iuregistration.userProfile.kbqQuestion3Answer" autocomplete="off">
        </div>
      </div>


      <div class="form-group">
        <label for="question4" class="col-sm-2 control-label">Question 4 </label>
        <div class="col-sm-6">
          <select  class="form-control" class="col-sm-6" name="question4" id="question4" ng-model="iuregistration.userProfile.kbqQuestion4">
            <option ng-repeat="option in kbqQuestions.availableOptions" value="{{option.value}}">{{option.value}}</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label for="question4Answer" class="col-sm-2 control-label">Answer</label>

        <div class="col-sm-6">
          <input type="textbox"  class="form-control" id="question4Answer"  ng-model="iuregistration.userProfile.kbqQuestion4Answer" autocomplete="off">
        </div>
      </div>


      <div class="form-group">
        <label for="question5" class="col-sm-2 control-label">Question 5 </label>
        <div class="col-sm-6">
          <select  class="form-control" class="col-sm-6" name="question4" id="question5" ng-model="iuregistration.userProfile.kbqQuestion5">
            <option ng-repeat="option in kbqQuestions.availableOptions" value="{{option.value}}">{{option.value}}</option>
          </select>
        </div>
      </div>


      <div class="form-group">
        <label for="question5Answer" class="col-sm-2 control-label">Answer</label>

        <div class="col-sm-6">
          <input type="textbox"  class="form-control" id="question5Answer"  ng-model="iuregistration.userProfile.kbqQuestion5Answer" autocomplete="off">
        </div>
      </div>

    </div>
  </form>
</div>


<div class="box col-lg-12">
    <div class="box-header">
      <div class="">
        <h3>Select Answers to 2 Security Questions</h3>
        Security Questions are used to unlock your account if it is locked because of suspicion of compromise.
        You may be asked the answer to these questions by your authority.
      </div>

    </div>

    <form class="form-horizontal" _lpchecked="1">
      <div class="box-body">

        <div class="form-group">
          <label for="secureQuestion1" class="col-sm-2 control-label">Question 1 </label>

          <div class="col-sm-6">
            <select  class="form-control" class="col-sm-6" name="question4" id="secureQuestionAnswer1" ng-model="iuregistration.userProfile.secureQuestion1">
              <option ng-repeat="option in secureQuestions.availableOptions" value="{{option.value}}">{{option.value}}</option>
            </select>

          </div>
        </div>

        <div class="form-group">
          <label for="secureQuestionAnswer1" class="col-sm-2 control-label">Answer</label>

          <div class="col-sm-6">
            <input type="textbox"  class="form-control" id="secureQuestion1"  ng-model="iuregistration.userProfile.secureQuestion1Answer" autocomplete="off">
          </div>
        </div>

        <div class="form-group">
          <label for="secureQuestion2" class="col-sm-2 control-label">Question 2 </label>

          <div class="col-sm-6">
            <select  class="form-control" class="col-sm-6" name="question4" id="secureQuestion2" ng-model="iuregistration.userProfile.secureQuestion2">
              <option ng-repeat="option in secureQuestions.availableOptions" value="{{option.value}}">{{option.value}}</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label for="secureQuestionAnswer2" class="col-sm-2 control-label">Answer</label>

          <div class="col-sm-6">
            <input type="textbox"  class="form-control" id="secureQuestionAnswer2"  ng-model="iuregistration.userProfile.secureQuestion2Answer" autocomplete="off">
          </div>
        </div>


        <div class="form-group">
          <label for="agreeTerms" class="col-sm-2 control-label"> </label>

          <div class="col-sm-6">
            <input type="checkbox"  id="agreeTerms"
                   ng-model="iuregistration.userProfile.agreeTermsConditions" autocomplete="off">
               I agree to the LinkoExchange <a href="#">Terms and Conditions</a>
          </div>

        </div>
      </div>


      <div class="form-group">
        <label for="prevBtn" class="col-sm-2 control-label">  </label>
        <div class="col-sm-6">
          <button  id="prevBtn" class="k-primary" ng-click="iuregistration.toBasic();">Previous</button>
          <button  id="nextBtn" class="k-primary pull-right" ng-click="iuregistration.toProfileOverView();">Next</button>
        </div>
      </div>
    </form>
  </div>


</div>
