<!-- Sidebar user panel (optional) -->

      <!-- Sidebar Menu -->
      <ul class="sidebar-menu">
        <!-- Optionally, you can add icons to the links -->
        <li class="active treeview">
          <a ui-sref="authority.portal.industries">
            <i class="fa fa-industry"></i> <span>Industries</span>
            <span class="pull-right-container">
              <i class="fa  pull-right"></i>
            </span>
          </a>
        </li>

       <li class="treeview">
          <a href="#">
            <i class="fa glyphicon glyphicon-duplicate"></i>
            <span>Report Packages</span>
            <span class="pull-right-container">
              <span class="label label-success pull-right">2</span>
              <span class="label label-danger pull-right">1</span>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="pages/layout/top-nav.html">
                <i class="fa   text-green"></i>Pending Review
                  <span class="pull-right-container">
                  <span class="label label-success pull-right">2</span>
                  </span>
                </a>
            </li>
            <li><a href="pages/layout/top-nav.html"><i class="fa text-red"></i>New Withdrawals
                   <span class="pull-right-container">
                    <span class="label label-danger pull-right">1</span>
                   </span>

                </a></li>
            <li><a href="pages/layout/boxed.html"><i class="fa text-yellow"></i>All</a></li>

             <li><a href="pages/layout/boxed.html"><i class="fa  text-blue"></i>Manage Templates</a></li>
          </ul>
        </li>


      <li class="treeview">
          <a ui-sref="authority.portal.registration-requests"><i class="fa fa-user-plus"></i> <span>Pending Registations</span>
            <span class="pull-right-container">
              <i class="label label-primary pull-right">2</i>
            </span>
          </a>
      </li>

      <li class="treeview">
          <a href="#">
            <i class="fa fa-file-text"></i> <span>Audit Logs </span>
            <span class="pull-right-container">
              <i class=" pull-right"></i>
            </span>
          </a>
      </li>


     <li class="treeview">
          <a href="#">
            <i class="fa fa-bank"></i>
            <span>Authority</span>
            <span class="pull-right-container">
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="pages/layout/top-nav.html">
                <i class="fa fa-circle-o text-green"></i>Users  </a>
            </li>
            <li><a href="pages/layout/top-nav.html"><i class="fa fa-circle-o text-red"></i>Settings
                </a>
            </li>
          </ul>
    </li>


   <li class="treeview">
          <a href="#">
            <i class="fa glyphicon glyphicon-import"></i> <span>Import </span>
            <span class="pull-right-container">
              <i class=" pull-right"></i>
            </span>
          </a>
   </li>
</ul>
      <!-- /.sidebar-menu -->
