<!-- Sidebar user panel (optional) --> 

      <!-- Sidebar Menu -->
      <ul class="sidebar-menu"> 
        <!-- Optionally, you can add icons to the links -->
        <li class="active treeview">
          <a ui-sref="authority.portal.industries">
            <i class="fa fa-dashboard"></i> <span>Industries</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a> 
        </li>  

       <li class="treeview">
          <a href="#">
            <i class="fa fa-files-o"></i>
            <span>Report Package</span>
            <span class="pull-right-container">
              <span class="label label-success pull-right">2</span>
              <span class="label label-danger pull-right">0</span>    
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="pages/layout/top-nav.html">
                <i class="fa fa-circle-o text-green"></i>Need Review
                  <span class="pull-right-container">
                  <span class="label label-success pull-right">2</span> 
                  </span>
                </a> 
            </li>
            <li><a href="pages/layout/top-nav.html"><i class="fa fa-circle-o text-red"></i>Repudiate
                   <span class="pull-right-container">
                    <span class="label label-danger pull-right">0</span> 
                   </span>
                  
                </a></li>  
            <li><a href="pages/layout/boxed.html"><i class="fa fa-circle-o text-yellow"></i>All Historical</a></li> 
              
             <li><a href="pages/layout/boxed.html"><i class="fa fa-circle-o text-blue"></i>Manage Templates</a></li> 
          </ul>
        </li>   
          
          
      <li class="treeview">
          <a ui-sref="authority.portal.registration-requests"><i class="fa fa-user-plus"></i> <span>Pending Registations</span>
            <span class="pull-right-container">
              <i class="label label-primary pull-right">2</i>
            </span>
          </a>
      </li>      
      
      <li class="treeview">
          <a href="#">
            <i class="fa  fa-table"></i> <span>Audit Logs </span>
            <span class="pull-right-container">
              <i class=" pull-right"></i>
            </span>
          </a> 
      </li>
		
      
     <li class="treeview">
          <a href="#">
            <i class="fa fa-files-o"></i>
            <span>Authority</span>
            <span class="pull-right-container">   
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="pages/layout/top-nav.html">
                <i class="fa fa-circle-o text-green"></i>Users  </a> 
            </li>
            <li><a href="pages/layout/top-nav.html"><i class="fa fa-circle-o text-red"></i>Settings 
                </a>
            </li>  
          </ul>
    </li>   
          
           
   <li class="treeview">
          <a href="#">
            <i class="fa  fa-link"></i> <span>Import </span>
            <span class="pull-right-container">
              <i class=" pull-right"></i>
            </span>
          </a> 
   </li>
</ul>
      <!-- /.sidebar-menu -->