<!-- Sidebar user panel (optional) -->
      <!-- Sidebar Menu -->
<ul class="sidebar-menu">

  <li class="treeview">
    <a href="#">
      <i class="fa fa-files-o"></i>
      <span>Data Entry Forms</span>
      <span class="pull-right-container">
              <span class="label bg-orange pull-right">2</span>
            </span>
    </a>
    <ul class="treeview-menu">
      <li>
        <a href="pages/layout/top-nav.html"><i class="fa"></i>Drafts
          <span class="pull-right-container">
                    <span class="label bg-orange pull-right">2</span>
                   </span>
        </a>
      </li>
        <li><a href="pages/layout/boxed.html"><i class="fa"></i>Submitted</a></li>
    </ul>
  </li>

  <!-------------->
  <li class="treeview">
    <a href="#">
      <i class="fa glyphicon glyphicon-duplicate"></i>
      <span>Report Packages</span>
      <span class="pull-right-container">
              <span class="label bg-orange pull-right">2</span>
              <span class="label label-success pull-right">1</span>
            </span>
    </a>
    <ul class="treeview-menu">
      <li><a href="pages/layout/top-nav.html">
        <i class="fa "></i>Dafts
        <span class="pull-right-container">
                  <span class="label bg-orange pull-right">2</span>
                  </span>
      </a>
      </li>
      <li><a href="pages/layout/top-nav.html"><i class="fa text-red"></i>Ready to Submit
        <span class="pull-right-container">
                    <span class="label label-success pull-right">1</span>
                   </span>

      </a></li>
       <li><a href="pages/layout/top-nav.html"><i class="fa text-red"></i>Submitted
        <span class="pull-right-container">
                    <span class="label label-success pull-right"></span>
                   </span>

      </a></li>
    </ul>
  </li>
  <!-------------->

        <li class="treeview">
           <a >
              <i class="fa fa-industry"></i> <span> Industry Account </span>
              <span class="pull-right-container">
                    <span class="label bg-primary pull-right">1</span>
              </span>
            </a>

          <ul class="treeview-menu">
            <li><a href="/industry/8296/users">
              <i class="fa text-green"></i>Users </a>
            </li>
            <li>
                <a ui-sref="industry.details">
                  <i class="fa text-green"></i>Settings
                </a>
            </li>
            <li>
              <a ui-sref="industry.registration-requests">
                <i class="fa text-green"></i>Pending Registrations
                <span class="pull-right-container">
                    <span class="label bg-primary pull-right">2</span>
                </span>
              </a>
            </li>
          </ul>

        </li>




  <!-- /.sidebar-menu -->
</ul>
