

<section class="content-header">
      <h1>Users of {{selectedIndustry.industry}}
      </h1>
      <ol class="breadcrumb-left  visible-lg visible-md">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home </a></li>
        <li class="active"> <a href="/authority/industries"> Industries </a>  </li>
        <li class="active"> <a href="authority/industries/{{selectedIndustry.permitNo}}/details"> Industry Details </a>  </li>
        <li class="">  Users </li>
      </ol>

</section>

<br/> <br/>

<div class="seperator" > </div>

<div class="pull-right">
    <!--<button id="primaryTextButton" class="k-primary">Permissions</button>-->
    <!--<button id="primaryTextButton" class="k-primary" ng-click="main.removeUser();" >Remove</button>-->
    <!--<button id="primaryTextButton" class="k-primary" ng-click="main.changeUserActiveStatus();" > {{main.enabledButtonText }} </button>-->
    <!--<button id="primaryTextButton" class="k-primary" ng-click="main.changeUserLockStatus();" > {{main.lockButtonText }}</button>-->
    <button id="primaryTextButton" class="k-primary" >Invite User</button>
</div>

<br/>
<br/>
<div>
<kendo-grid options="mainGridOptions_2" />

<div kendo-grid='grid' id="users-grid"  k-data-source="users"
    k-pageable='{ "refresh": true, "pageSizes": true }'
    k-selectable ='row'
    k-sortable='true'
    k-on-change ='main.onchange(kendoEvent)'
    k-columns = '[
          {
            "field": "firstName",
            "title": "First Name"
          },
          {
              "field": "lastName",
              "title": "Last Name",
          },
          {
              "field": "phone",
              "title": "Phone",
          },
          {
              "field": "email",
              "title": "Email",
          },
          {
              "field": "registeredDate",
              "title": "Data Registered",
          },
          {
              "field": "status",
              "title": "Status",
          },
          {
              "field": "locked",
              "title": "AccountLocked?",
          }
        ]'


     k-sortable="true", k-groupable="true", k-filterable="true"
  >
 </div>
