

<section class="content-header">
      <h1>{{selectedIndustry.industry}} Users
      </h1>
      <ol class="breadcrumb-left  visible-lg visible-md">
        <li><a href="#"><i class="fa "></i> Home </a></li>
        <li class="active"> <a href="/authority/industries"> Industries </a>  </li>
        <li class="active"> <a href="authority/industries/{{selectedIndustry.permitNo}}/details"> Industry Details </a>  </li>
        <li class="">  Users </li>
      </ol>

</section>

<br/> <br/>

<div class="seperator" > </div>

<div class="pull-right">
     <button id="inviteUserBtn" class="k-primary" ng-click="main.inviteUser();" >Invite User</button>
</div>

<br/>
<br/>
<div>
<kendo-grid options="industryUsers"></kendo-grid>
 </div>


<br/>
<div class="box-header with-border">
  <h3 class="box-title"><b>Pending Invitations</b></h3>
  <div class="pull-right">
    <button id="inviteAdminBtn" class="k-primary" ng-click="main.inviteUser();" >Invite Administrator</button>
    <button id="deleteInvite" class="k-primary" ng-click="main.deleteInvitedUser();" >Delete</button>
  </div>

</div>



<kendo-grid options="industryInvitedUsers" ></kendo-grid>

