<style>
  right-label
  {
    display: inline-block;
    width: 140px; text-align: right;
  }
</style>
<section class="content-header">
  <h1>
    User Details
  </h1>
  <ol class="breadcrumb-left visible-lg visible-md">
    <li><a href="/authority/index"><i class=""></i> Home </a></li>
    <li class="active"> <a href="/authority/industries"> Industries </a>  </li>
    <li class="active"> <a href="authority/industries/{{selectedIndustry.permitNo}}/details"> Details </a>  </li>
    <li class="active"> <a href="authority/industries/{{selectedIndustry.permitNo}}/users"> Users </a>  </li>
    <li class=""> Details  </li>
  </ol>
</section>

<br/><br/>
<div class="seperator" > </div>


<div class="panel panel-default">
  <div class="panel-heading" data-target="#information">
    <strong>User Information</strong>
    <div class="form-group pull-right">
      <button id="lockBtn" class="k-primary" ng-click="userdetails.toggleLockedStatus();" >  {{userdetails.lockButtonText}} </button>
      <button id="inviteUserBtn" ng-click="userdetails.resetUser();" class="k-primary" >Reset</button>
    </div>
  </div>
  <div class="panel-body panel-collapse collapse in" id="information">
    <div class="col-sm-11">
      <div class="form-horizontal row">
        <div class="form-group">
          <label for="fistName" class="col-md-2 control-label">Fist Name</label>

          <div class="col-md-4">
            <input type="text" readonly class="form-control" id="fistName" value={{userdetails.selectedUser.firstName}} />
          </div>

          <label for="status" class="col-md-2 control-label">Status</label>
          <div class="col-md-4">
            <input type="text" readonly class="form-control" id="status" value={{userdetails.selectedUser.status}} />
          </div>
        </div>
      </div>

      <div class="form-horizontal row">
        <div class="form-group">
          <label for="lastName" class="col-md-2 control-label">Last Name</label>

          <div class="col-md-4">
            <input type="text" rows="2" class="form-control" id="lastName" readonly value={{userdetails.selectedUser.lastName}} />
          </div>

          <label for="isLocked" class="col-md-2 control-label">Is Locked?</label>
          <div class="col-md-4">
            <input type="text" readonly class="form-control" id="isLocked" value={{userdetails.selectedUser.locked}} />
          </div>

        </div>
      </div>

      <div class="form-horizontal row">
        <div class="form-group">
          <label for="email" class="col-md-2 control-label">Email</label>

          <div class="col-md-4">
            <input type="text" readonly class="form-control" id="email" value={{userdetails.selectedUser.email}} />
          </div>

          <label for="role" class="col-md-2 control-label">Role</label>
          <div class="col-md-4">
            <input type="text" readonly class="form-control" id="role" value={{userdetails.selectedUser.role}} />
          </div>
        </div>
      </div>

      <div class="form-horizontal row">
        <div class="form-group">
          <label for="phone" class="col-md-2 control-label">Phone</label>

          <div class="col-md-4">
            <input type="text" readonly class="form-control" id="phone" value={{userdetails.selectedUser.phone}} />
          </div>

          <label for="isSignatory" class="col-md-2 control-label">Is Signatory?</label>
          <div class="col-md-4">
            <div class="checkbox ">
              <label>
                <input id="isSignatory" type="checkbox">
              </label>
            </div>
          </div>
        </div>
      </div>


      <div class="form-horizontal row">
        <div class="form-group">
          <label for="registrationDate" class="col-md-2 control-label">Registration Date</label>

          <div class="col-md-4">
            <input type="text" readonly class="form-control" id="registrationDate" value={{userdetails.selectedUser.registeredDate}} />
          </div>

      </div>

    </div>
  </div>
</div>

</div>

<div class="panel panel-default">
  <div class="panel-heading" data-target="#information">
    <strong>User Security Questions</strong>
    <div class="form-group pull-right">

    </div>
  </div>
  <div class="panel-body panel-collapse collapse in" id="securityQuestion">
    <div class="col-sm-11">

      <div class="form-horizontal row">
        <div class="form-group">
          <label for="securityQuestion1" class="col-md-2 control-label">Security Question 1</label>

          <div class="col-md-4">
            <label class="form-control" id="securityQuestion1" > {{userdetails.selectedUser.securityQuestion1}} </label>
          </div>


        </div>
      </div>

      <div class="form-horizontal row">
        <div class="form-group">
          <label for="answer1" class="col-md-2 control-label">Answer </label>

          <div class="col-md-4">
            <label rows="2" class="form-control" id="answer1" > {{ userdetails.selectedUser.securityQuestion1Answer  }}</label>
          </div>

        </div>
      </div>

      <div class="form-horizontal row">
        <div class="form-group">
          <label for="securityQuestion2" class="col-md-2 control-label">Security Question 2</label>

          <div class="col-md-4">
            <label  class="form-control" id="securityQuestion2" > {{userdetails.selectedUser.securityQuestion1}} </label>
          </div>


        </div>
      </div>

      <div class="form-horizontal row">
        <div class="form-group">
          <label for="answer2" class="col-md-2 control-label">Phone</label>

          <div class="col-md-4">
            <label  class="form-control" id="answer2" > {{userdetails.selectedUser.securityQuestion2Answer}}  </label>
          </div>

        </div>
      </div>


    </div>
  </div>

</div>
