<style>
  right-label
  {
    display: inline-block;
    width: 140px; text-align: right;
  }
</style>
<section class="content-header">
  <h1>
    User Details
  </h1>
  <ol class="breadcrumb-left visible-lg visible-md">
    <li><a href="/authority/index"><i class=""></i> Home </a></li>
    <li class="active"> <a href="/authority/industries"> Industries </a>  </li>
    <li class="active"> <a href="authority/industries/{{selectedIndustry.permitNo}}/details"> Details </a>  </li>
    <li class="active"> <a href="authority/industries/{{selectedIndustry.permitNo}}/users"> Users </a>  </li>
    <li class=""> Details  </li>
  </ol>
</section>

<br/><br/>
<div class="seperator" > </div>

<div class="box col-lg-6">
  <div class="box-header with-border">

    <div class="panel-heading" data-target="#information">
      <strong>User Information</strong>

    <div class="pull-right">
      <!--<button id="enableDisableBtn" class="k-primary" ng-click="userdetails.toggleEnabledStatus();" >  {{userdetails.enabledButtonText}}</button>-->
      <button id="lockBtn" class="k-primary" ng-click="userdetails.toggleLockedStatus();" >  {{userdetails.lockButtonText}} </button>
      <button id="inviteUserBtn" ng-click="userdetails.resetUser();" class="k-primary" >Reset</button>

      <!--<button id="saveBtn" class="k-primary">Save</button>-->
      <!--<button id="cancelBtn" class="k-primary">Cancel</button>-->

    </div>
    </div>


  </div>
  <!-- /.box-header -->
  <!-- form start -->
  <form class="form-horizontal" _lpchecked="1">
    <div class="box-body">
      <div class="form-group">
        <label for="firstName" class="col-sm-3 control-label">First Name </label>

        <div class="col-sm-9">
          <input type="firstName" readonly class="form-control" id="firstName"  value="{{userdetails.selectedUser.firstName}}" autocomplete="off">
        </div>
      </div>

      <div class="form-group">
        <label for="lastName" class="col-sm-3 control-label">Last Name </label>

        <div class="col-sm-9">
          <input type="lastName" readonly value="{{userdetails.selectedUser.lastName}}"  class="form-control" id="lastName"  autocomplete="off">
        </div>
      </div>


      <div class="form-group">
        <label for="phone" class="col-sm-3 control-label">Phone </label>

        <div class="col-sm-9">
          <input type="phone" readonly value="{{userdetails.selectedUser.phone}}"  class="form-control" id="phone"  autocomplete="off">
        </div>
      </div>

      <div class="form-group">
        <label for="phone" class="col-sm-3 control-label">Email </label>

        <div class="col-sm-9">
          <input type="email" readonly value="{{userdetails.selectedUser.email}}" class="form-control" id="email"  autocomplete="off">
        </div>
      </div>

      <div class="form-group">
        <label for="registrationDate" class="col-sm-3 control-label">Registration Date </label>

        <div class="col-sm-9">
          <input type="text" readonly value="{{userdetails.selectedUser.registeredDate}}" class="form-control" id="registrationDate"  autocomplete="off">
        </div>
      </div>

      <div class="form-group">
        <label for="status" class="col-sm-3 control-label">Status </label>

        <div class="col-sm-9">
          <input type="text" readonly value="{{userdetails.selectedUser.status}}" class="form-control" id="status"  autocomplete="off">
        </div>
      </div>

      <div class="form-group">
        <label for="isLocked" class="col-sm-3 control-label">Is Locked</label>

        <div class="col-sm-9">
          <input type="text" readonly value="{{userdetails.selectedUser.locked}}" class="form-control" id="isLocked" placeholder="" autocomplete="off" >
        </div>
      </div>

      <div class="form-group">
        <label for="isLocked" class="col-sm-3 control-label">Role</label>

        <div class="col-sm-9">
          <input type="text" readonly value="{{userdetails.selectedUser.role}}" class="form-control" id="role" placeholder="" autocomplete="off" >
          <div class="checkbox ">
            <label>
              <input type="checkbox"> Is Signatory?
            </label>
          </div>
        </div>
      </div>

      <!--<div class="form-group">-->
        <!--<div class="col-sm-offset-2 col-sm-9">-->
          <!--<div class="checkbox">-->
            <!--<label>-->
              <!--<input type="checkbox"> Remember me-->
            <!--</label>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    </div>
    <!-- /.box-body -->
    <!--<div class="box-footer">-->
      <!--<button type="submit" class="btn btn-default">Cancel</button>-->
      <!--<button type="submit" class="btn btn-info pull-right">Sign in</button>-->
    <!--</div>-->
    <!-- /.box-footer -->
  </form>
</div>

