<style>
  .watertax-panel {
    height: 800px !important;
  }

   .left-offset {
      margin: 20px;
   }
</style>


<section class="content-header">
      <h1>
        Invite User  <div ng-if="user.userType== 'AuthorityUser'" > to  {{selectedIndustry.industry}} </div>
        <small></small>
      </h1>
      <ol class="breadcrumb-left visible-lg visible-md">

        <li ng-if="user.userType == 'AuthorityUser'"  ><a href="/authority/index"><i class=""></i> Home </a></li>
        <li ng-if="user.userType == 'IndustryUser'"  ><a href="/industry/"><i class=""></i> Home </a></li>

        <li class="active" ng-if="user.userType== 'AuthorityUser'" > <a href="/authority/industries"> Industries </a>  </li>
        <li class="active" ng-if="user.userType== 'AuthorityUser'"> <a href="/authority/industries/{{selectedIndustry.permitNo}}/users"> Details </a>  </li>
        <li class="active" ng-if="user.userType== 'IndustryUser'" > <a href="/industry/0040/users"> Users </a>  </li>

        <li > Invite User </li>
        </ol>

</section>

 <br/><br/>
<div class="seperator" > </div>



<div class="panel panel-default watertax-panel">
  <div class="panel-heading" data-target="#information">
    <strong> {{headerText}}</strong>
    <!--<div class="form-group pull-right">-->
      <!--<button id="lockBtn" class="k-primary">-->
      <!--</button> -->
    <!--</div>-->
  </div>
  <div class="panel-body panel-collapse collapse in" id="information">
    <div class="col-sm-11">
      <div class="form-horizontal row">

        <div class="form-group">
          <br/><br/>
        </div>

        <div class="form-group" ng-if="step==1">
          <label for="email" class="col-md-2 control-label">Enter Email</label>

          <div class="col-md-4">
            <input type="text"  class="form-control" id="email"  ng-model="inviteiu.userEmail" >
          </div>

          <div class="col-sm-2">
          <span>
            <button type="button" class="btn btn-primary btn-flat visible-lg visible-md" ng-click='inviteiu.searchUser();'> Search  </button>
          </span>
          </div>
        </div>

        <div class="form-group"  ng-if=" step == 2 " style=" " >
          <div id="wrapper" style="text-align: center">

            <div class="row">
              <div class="col-lg-1">

               </div>
              <div class="col-lg-6">
                <div  style="display: inline-block; ">
                  <b>  The user does not exist. Do you want to invite this new user ?</b>
                </div>
                </div>
              <div class="col-lg-4">  </div>
            </div>

            <div class="row">
              <br/></div>
              <div class="col-lg-1 text-align: center"></div>

                <div class="col-lg-6  "  style="margin: 0 auto; width: 656px; text-align: center;">
                  <button type="button" class="btn-primary btn-flat  " ng-click='inviteiu.createUser();'> Yes </button>
                  <button type="button" class="btn-primary btn-flat " ng-click='inviteiu.cancel();'> Cancel  </button>
                </div>
              <div class="col-lg-4"></div>
            </div>

          </div>
          <!--<div class="col-lg-6 col-sm-offset-2 col-sm-10" >-->
            <!--<b>  The user does not exist. Do you want to invite this new user ?</b>  <br/> <br/><br/>-->
          <!--</div>-->


          <!--<div class="col-lg-8">-->
            <!--<div class="col-lg-1 col-lg-offset-4  col-sm-10" >-->
              <!--<button type="button" class="btn btn-primary btn-flat visible-lg visible-md" ng-click='inviteiu.createUser();'> Yes </button>-->
            <!--</div>-->

            <!--<div class="col-lg-1 col-sm-10">-->
              <!--<button type="button" class="btn btn-flat visible-lg visible-md" ng-click='inviteiu.cancel();'> Cancel  </button>-->
            <!--</div>-->
            <!--<div class="col-lg-4" ></div>-->

          <!--</div> -->

        </div>

        <div class="form-group" ng-if="step==3">

          <div class="form-group row">

            <label for="fistName" class="col-lg-3 col-md-3 col-sm-3 control-label"> First Name</label>
            <div class="col-lg-4 col-sm-10">
              <input type="textbox" class="form-control" id="fistName" ng-model="inviteiu.userFirstName" placeholder="First Name" autocomplete="off" >
            </div>
            <div class="col-lg-4"></div>
          </div>

          <div class="form-group row">
            <label for="lastName" class="col-lg-3 col-md-3  control-label"> Last Name</label>
            <div class="col-lg-4 col-sm-10">
              <input type="textbox" class="form-control" id="lastName" ng-model="inviteiu.userLastName" placeholder="Last Name" autocomplete="off" >
            </div>

            <div class="col-lg-4"></div>
          </div>

          <div class="form-group row">

            <label for="userEmail" class="col-lg-3 col-md-3  control-label"> Email </label>
            <div class="col-lg-4 col-sm-10">
              <input type="email" readonly class="form-control" id="userEmail" ng-model="inviteiu.userEmail"   autocomplete="off" >
            </div>

            <div class="col-lg-2">
              <button type="button" class="btn btn-primary btn-flat visible-lg visible-md" ng-click='inviteiu.doCreateUser();'> Invite User  </button>
            </div>
          </div>

          <!--<div class="form-group">-->
            <!--<div class="col-lg-2 col-lg-offset-3">-->
              <!--&lt;!&ndash;<button type="submit" class="btn-primary" ng-click="inviteiu.goToStep2();" >Last Step</button>&ndash;&gt;-->
              <!--&lt;!&ndash;<button type="submit" class="btn-primary" ng-click="inviteiu.doCreateUser();" >Invite User</button>&ndash;&gt;-->
              <!--<button type="button" class="btn btn-primary btn-flat visible-lg visible-md" ng-click='inviteiu.doCreateUser();'> Invite User  </button>-->
            <!--</div>-->
          <!--</div>-->

        </div>

        <div  ng-show="step==4" ng-hide="step !==4 " >
          <div class="form-group">
            <div class="col-lg-8 col-sm-offset-2 col-sm-10">

              <div class="col-lg-12">
                <div  kendo-grid='inviteiu.userGrid'  k-options="userOptions"  ></div>
              </div>

              <div class="row col-lg-12">
                <div class="col-lg-4" ></div>
                <div class=" pull-right">
                  <br/>
                  <button type="button" class="btn btn-primary btn-flat visible-lg visible-md" ng-click='inviteiu.sendInvitation();'>
                    Invite  <div ng-if="user.userType == 'AuthorityUser' ">Administrator</div>
                  </button>

                </div>
              </div>

            </div>
          </div>
        </div>

        <duv class="form-group"  ng-if="step==6"  >
              <div class="col-lg-12 col-sm-offset-2 col-sm-10">
                <b> An invitation Email has been sent. </b>  <br/> <br/>
              </div>

            <div class="col-md-4">
               <button class="col-lg-offset-9 btn btn-flat k-primary visible-lg">Ok</button>
            </div>
        </duv>

    </div>
  </div>

</div>
