
<section class="content-header">
      <h1>
        Invite User to City of Grand Rapids Authority
        <small></small>
      </h1>
      <ol class="breadcrumb-left visible-lg visible-md">
        <li><a href="#"><i class="fa "></i> Home </a></li>
        <li class="active"> <a href="/authority/industries"> Industries </a>  </li>
        <li class="active"> <a href="/authority/industries/{{selectedIndustry.permitNo}}/users"> Industry Users </a>  </li>
        <li > Invite User </li>
        </ol>

</section>

 <br/><br/>
<div class="seperator" > </div>

<br/>

<!--<div ng-if="step==1">-->

    <!--<div class="col-lg-1 col-md-1 col-sm-1 col-xs-12"></div>-->

    <!--<div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">-->
    <!--<label for="exampleInputEmail1">Email address </label>-->
    <!--<div class="input-group col-lg-4 ">-->

          <!--<input  type="text" class="form-control" placeholder="input you email here " ng-model="inviteiu.userEmail" ng-change="inviteiu.searchChanged()">-->
          <!--<span class="input-group-btn ">-->
             <!--<button type="button" class="btn btn-info btn-flat visible-lg visible-md" ng-click='inviteiu.inviteUser();'>-->
                <!--Search-->
              <!--</button>-->
          <!--</span>-->
    <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!--<div ng-if="noSuchUser == true">-->
        <!--<div class="col-lg-1 col-md-1 col-sm-1 col-xs-12"></div>-->

    <!--<div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">-->

       <!--<label for="exampleInputEmail1">The user does not exist. Do you want to create a new user ? </label>-->
       <!--<br/>-->

       <!--<button type="submit" class="btn btn-primary" ng-click="inviteiu.backStep();" >back </button>-->

       <!--<button type="submit" class="btn btn-primary" ng-click=" " >Yes </button>-->
       <!--<button type="submit" class="btn btn-cancel" ng-click=" " >No </button>-->

    <!--</div>-->
<!--</div>-->

<!--<div ng-if="step ==2">-->

   <!--<div class="col-lg-1 col-md-1 col-sm-1 col-xs-12"></div>-->
   <!--<div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">-->

    <!--<div class="col-lg-4 ">-->
          <!--<div class="form-group">-->
                  <!--<label for="exampleInputEmail1">First Name</label>-->
                  <!--<input type="email" class="form-control" id="login.userEmail" ng-model="inviteiu.userFirstName" placeholder="First Name" autocomplete="off" >-->
          <!--</div>-->

         <!--<div class="form-group">-->
                  <!--<label for="exampleInputEmail1">Last Name </label>-->
                  <!--<input type="email" class="form-control" id="login.userEmail" ng-model="inviteiu.userLastName" placeholder="Last Name" autocomplete="off" >-->
          <!--</div>-->

          <!--<div class="form-group">-->
                  <!--<label for="exampleInputEmail1">Email address</label>-->
                  <!--<input type="email" class="form-control" id="login.userEmail" ng-model="inviteiu.userEmail" placeholder="Enter email" autocomplete="off" >-->
          <!--</div>-->
          <!--<button type="submit" class="btn btn-primary" ng-click="login.login();" >Send Email</button>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->


<div class="col-lg-6">

  <!-- /.box-header -->
  <!-- form start -->
  <form class="form-horizontal" _lpchecked="1">
    <div class="box-body">

      <div class="form-group" ng-if="step==1">
        <label for="searForEmail" class="col-lg-3 col-sm-2 control-label"> Enter Email </label>

        <div class="col-lg-6 col-sm-10">
           <input type="email"  class="form-control" id="searForEmail"  ng-model="inviteiu.userEmail" ng-change="inviteiu.searchChanged()">
        </div>

        <div class="col-sm-2">
          <span>
            <button type="button" class="btn btn-primary btn-flat visible-lg visible-md" ng-click='inviteiu.inviteUser();'> Search  </button>
          </span>
        </div>
      </div>


      <!---->
      <div class="form-group"  ng-if=" step == 2 " >

        <div class="col-lg-12 col-sm-offset-2 col-sm-10">
          <b>The user does not exist. Do you want to create a new user ?</b>  <br/> <br/>
        </div>

        <div class="col-lg-12">
        <div class="col-lg-1 col-sm-offset-2 col-sm-10">
          <button type="button" class="btn btn-primary btn-flat visible-lg visible-md" ng-click='inviteiu.createUser();'> Create User </button>
        </div>


        <div class="col-lg-1 col-sm-offset-2 col-sm-10">
          <button type="button" class="btn btn-flat visible-lg visible-md" ng-click='inviteiu.cancel();'> Cancel  </button>
        </div>

          <div class="10"></div>
        </div>
      </div>

      <div  ng-if="step==3" >
        <div class="form-group">

          <label for="fistName" class="col-sm-2 control-label"> First Name</label>
          <div class="col-lg-6 col-sm-10">
            <input type="textbox" class="form-control" id="fistName" ng-model="inviteiu.userFirstName" placeholder="First Name" autocomplete="off" >
          </div>
        </div>

        <div class="form-group">

          <label for="lastName" class="col-sm-2 control-label"> last Name</label>
          <div class="col-lg-6 col-sm-10">
            <input type="textbox" class="form-control" id="lastName" ng-model="inviteiu.userLastName" placeholder="Last Name" autocomplete="off" >
          </div>

        </div>

        <div class="form-group">

          <label for="email" class="col-sm-2 control-label"> Email </label>
          <div class="col-lg-6 col-sm-10">
            <input type="email" class="form-control" id="email" ng-model="inviteiu.userEmail" placeholder="Enter email" autocomplete="off" >
          </div>

          <div class="col-sm-2">
            <span>
              <button type="submit" class="btn btn-primary" ng-click="inviteiu.doCreateUser();" >Create User</button>
            </span>
          </div>
        </div>
      </div>


      <div  ng-show="step==4" ng-hide="step !==4 " >
        <div class="form-group">
          <div class="col-lg-12 col-sm-offset-2 col-sm-10">

              <div class="row col-lg-12">
                <div class="col-lg-4" ></div>
                <div class=" pull-right">
                  <button type="button" class="btn btn-block btn-primary btn-sm visible-lg visible-md" ng-click='inviteiu.sendInvitation();'>
                    Invite Administrator
                  </button>
                </div>
              </div>

              <div class="col-lg-12">
                <div  kendo-grid='inviteiu.userGrid'  k-options="userOptions"  ></div>
              </div>
          </div>
        </div>
      </div>

    <div  ng-if="step==5" >
      <div class="form-group">

        <div class="col-lg-12 col-sm-offset-2 col-sm-10">
          <b> User has been created  </b>  <br/> <br/>
        </div>
      </div>
    </div>

      <div  ng-if="step==6" >
        <div class="form-group">

          <div class="col-lg-12 col-sm-offset-2 col-sm-10">
            <b> An invitation Email has been send out ! </b>  <br/> <br/>
          </div>
        </div>
      </div>

    </div>
  </form>
</div>


