<section class="content">
   
    <div class="row">
       
        <div class="col-lg-3 col-xs-6">
          <a ui-sref="authority.portal.registration-requests">
          <!-- small box -->
          <div class="small-box bg-aqua bg-light-blue">
            <div class="inner">
              <h2>Manage IU Users </h2>
              <p>150 New Registration Requests</p>
            </div>
            <div class="icon">
              <i class="ion ion-email"></i>
            </div>
            <div  class="small-box-footer"> <i class="fa fa-arrow-circle-right"></i></div>
          </div>
          </a>
        </div>
        <!-- ./col -->
        
        <div class="col-lg-3 col-xs-6">
          <a ui-sref="authority.portal.industries">
          <!-- small box -->
          <div class="small-box bg-aqua bg-light-blue">
            <div class="inner">
              <h2>Manage Industries</h2>

              <p>2000 industries</p>
            </div>
            <div class="icon">
              <i class="ion ion-stats-bars"></i>
            </div>
            <div  class="small-box-footer"> <i class="fa fa-arrow-circle-right"></i></div>
          </div>
          </a>
        </div>
        <!-- ./col -->
        
    </div>    
        <!-- ./col --> 
      <!-- /.row (main row) -->
    
       <!-- Small boxes (Stat box) -->
    <div class="row">
         
        <div class="col-lg-3 col-xs-6">
          <a ui-sref="authority.portal.authorityAccount">
          <!-- small box -->
          <div class="small-box bg-aqua bg-light-blue">
            <div class="inner">
              <h2>Manage AU Users</h2>

              <p>2000 industries</p>
            </div>
            <div class="icon">
               <i class="ion ion-person-add"></i>
            </div>
            <div  class="small-box-footer"> <i class="fa fa-arrow-circle-right"></i></div>
          </div>
          </a>
        </div>
        <!-- ./col -->
         
        <!-- ./col -->
             <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box  bg-light-blue">
            <div class="inner">
                <h2>Manage Content </h2> 
            </div>
             <p>Change configurations</p>  
            <div class="icon">
              <i class="ion ion-cube"></i>
            </div>
            <a href="#" class="small-box-footer"><i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
      </div>
      <!-- /.row (main row) -->
    

 </section>