
   

<!-- Main Header -->
   <header class="main-header ">
      <div main-header ></div>        
   </header>
      
  <aside  ng-show="showMenu === true" class="visible-xs extra-menu-panel visible-xs">  
   <section class="sidebar ">
      <div authority-side-bar ></div> 
    </section>
  </aside>         
     
<!-- Left side column. contains the logo and sidebar -->
   <aside class="main-sidebar visible-lg visible-md visible-sm">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <div authority-side-bar ></div> 
    </section>
    <!-- /.sidebar -->
  </aside>

    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

            <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->  
    <!-- Main content -->
    <section class="content">
      <!-- Your Page Content Here --> 
       <div ui-view></div>
    </section>
    <!-- /.content -->
  </div>