<style>
  .content-wrapper {
    height: 1150px !important;
  }

</style>

<div class=" col-lg-12">
  <div class="box-header with-border">
    <div class="">
      <h3>Profile Details</h3>
      <h4>{{title2}}</h4>
    </div>

    <ol class="breadcrumb-left visible-lg visible-md">
      <li><a href="/"><i class=""></i> Home </a></li>
      <li  ng-if="user.userType=='AuthorityUser'"><a href="/authority/registration-requests"><i class=""></i> Pending Registrations </a></li>
      <li  ng-if="user.userType=='IndustryUser'"><a href="/industry/registration-requests"><i class=""></i> Pending Registrations </a></li>
      <li class="active" >Profile Details</li>
    </ol>

  </div>
  <!-- /.box-header -->
  <!-- form start -->


  <div class="seperator" > </div>

  <div class="panel row">

    <div class="pane-group">
      <div class="panel-body panel-collapse collapse in">

        <div class="panel panel-default">
          <div class="panel-heading" data-toggle="collapse" data-target="#authoritySettingPanel"  ng-class="currentStep == 1 ? 'collapsed': 'expand' " >
            <strong>Profile Details</strong>

            <div class="row pull-right visible-lg visible-md"  >
              <button  id="primaryDenyButton" class="k-primary" ng-click="authority.denyRegistration()"  > Deny </button>
              <button  id="primaryAppButton" class="k-primary" ng-click="authority.approvalRegistration()"  > Approve </button>
            </div>

            </div>
          </div>
          <!--ng-class="editProfileDetails == false ? 'expand': 'collapse'"-->
          <div class="panel-body panel-collapse collapse  in" id="authoritySettingPanel" ng-class="currentStep > 1 ? 'collapsed collapse': 'expand in'" >
            <div class="panel-collapse in collapse in" id="authoritySettingContent"  ng-class="currentStep > 1 ? 'collapsed collapse': 'expand in'" >
              <div class="row">
                <div profile-details user-profile= "registrationPendingUser" editmode= false  registration = true  process ="approval" />
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
