 
  <section class="content-header">
              <h1>
                Authority Account information
                <small> </small>
              </h1>
              <ol class="breadcrumb-left  visible-lg visible-md">
                <li><a href="/authority/index"><i class="fa fa-dashboard"></i> Authority </a></li>
                <li class="active">Account Information</li>
              </ol>  
        </section>

        <br/>     <br/> 
 

<div class="seperator" > </div>
     
    <div class="col-lg-11 col-md-11 col-sm-12 col-xs-12 input-group">  
          <div class=" pull-right" >
            <button  id="primaryTextButton" class="k-primary" ng-click="account.save()"  > Save </button> 
            <button  id="primaryTextButton" class="k-primary" ng-click="account.close()"  > Close </button> 
            <button  id="primaryTextButton" class="k-primary" ng-click="account.authorityUsers()"  > Authority Users </button> 
          </div> 
    </div> 
 
     <form class="form-horizontal">  
      <div class=" col-md-11 col-sm-12 box ">   
             <div class="row">
               <br />
             </div>  
          
                <div class="row">
                    <div class="form-group"> 
                        <label for="phone" class="col-lg-3 col-md-4 col-sm-12 col-xs-12 control-label">Exchange Authority ID</label>

                      <div class="col-lg-3 col-md-6 col-sm-12">
                          <input type="text"  class="form-control" id="phone" placeholder="Chris" autocomplete="off" value = "10-00394-01" > 
                      </div> 
                    
                      <label for="NPDES" class="col-lg-2 col-md-4 col-sm-12 col-xs-12  control-label">NPDES</label>
                      <div class="col-lg-3 col-md-6 col-sm-12">  
                         <input type="text"  class="form-control" id="NPDES" placeholder="Chris" autocomplete="off" value = "10-00394-01" > 
                      </div>  
                    </div>
                </div>

             
                <div class="row">
                     <div class="form-group"> 
                        <label for="authorityName" class="col-lg-3 col-md-4 col-sm-12 col-xs-12  control-label">Authority Name *:</label>

                      <div class="col-lg-8 col-md-6 col-xs-12 ">
                          <textbox  class="form-control" id="authorityName" placeholder="Chris" autocomplete="off"  > Authority name</textbox>
                      </div> 
                    </div>
                </div>
                    
                     
                <div class="row">
                    <div class="form-group"> 
                        <label for="phone" class="col-lg-3 col-md-4  col-sm-12 col-xs-12  control-label">Phone</label>

                      <div class="col-lg-3 col-md-6  col-sm-12 col-xs-12 ">
                        <textbox  class="form-control" id="phone" placeholder="Chris" autocomplete="off"  >  (555)111-2222 Ext 2
                      </div> 
                    
                      <label for="fax" class="col-lg-2 col-md-4  col-sm-12 col-xs-12 control-label">Fax</label>
                      <div class="col-lg-3 col-md-6  col-sm-12 col-xs-12"> 
                          <textbox  class="form-control" id="fax" placeholder="555" autocomplete="off"  >  (555)111-2222 </textbox>
                      </div>  
                    </div>
                </div>
                        
                
                <div class="row">
                    <div class="form-group"> 
                        <label for="physicalAddress" class="col-lg-3 col-md-4  col-sm-12 col-xs-12 control-label">Physical Address</label>

                      <div class="col-lg-3 col-md-6  col-sm-12 col-xs-12">
                        <textarea  rows="4" class="form-control" id="physicalAddress" placeholder="Chris" autocomplete="off"  > 3353 Eastern, SE, Grand Rapids, MI 000000 
                          </textarea>
                          </textarea>
                      </div> 
                    
                      <label for="mailingAddress" class="col-lg-2 col-md-4  col-sm-12 col-xs-12 control-label">Mailing Address</label>
                      <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12"> 
                         <textarea  rows="4" class="form-control" id="mailingAddress" placeholder="Chris" autocomplete="off"  > 3353 Eastern, SE, Grand Rapids, MI 000000 
                          </textarea>
                      </div>  
                    </div>
                </div>
                
               <div class="row">
                    <div class="form-group"> 
                        <label for="physicalAddress" class="col-lg-3 col-md-4  col-sm-12 col-xs-12 control-label">LinkCTS Account: </label>

                      <div class="col-lg-3 col-md-6  col-sm-12 col-xs-12">
                        <textbox readonly class="form-control" id="physicalAddress" placeholder="Chris" autocomplete="off"  > 23456-22 (user GUID)
                          </textbox>
                      </div>  
                    </div>  
               </div> 
                
         
                   <br />
                   <br />
                  
            <div class="box box-info col-sm-12">
            <div class="box-header">
              <h3 class="box-title">Configurations </h3>
            </div>
            <div class="box-body">   
                             
                <div class="row">
                    <div class="form-group"> 
                        <label for="numberOfFailedSQAnswerTemplates" class="col-lg-5 col-md-12 col-sm-12 col-xs-12 control-label"># Of Allowed Failed Password Templates</label>
                      <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                        <input type="text"  class="form-control" id="numberOfFailedSQAnswerTemplates" placeholder="Chris" autocomplete="off" value = "3" > 
                      </div> 
                      
                      <label for="NPDES" class="col-lg-2 col-md-2  col-sm-12 col-xs-12 control-label">NPDES</label>
                      <div class="col-lg-3 col-md-3  col-sm-12 col-xs-12"> 
                         <input type="text"  class="form-control" id="NPDES" placeholder="Chris" autocomplete="off" value = "10-00394-01" > 
                      </div>   
                    </div>
                </div>  
                
  
                <div class="row">
                    <div class="form-group"> 
                        <label for="numberOfFailedKBQ" class="col-lg-5 col-md-12 col-sm-12 col-xs-12 control-label"># Of Allowed Failed KBQ Answer Templates</label>
                      <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                        <input type="text"  class="form-control" id="numberOfFailedKBQ" placeholder="Chris" autocomplete="off" value = "3" > 
                      </div> 
                       
                      <label for="industryLicenseNumber" class="col-lg-2 col-md-5 col-xs-12 col-sm-12 control-label">Industry Licenses #</label>
                      <div class="col-sm-3"> 
                         <input readonly  class="form-control" id="industryLicenseNumber" placeholder="Chris" autocomplete="off"  value="100 Available/ 86 in Use" > 
                      </div>   
                        
                    </div>
                    
                </div> 
                    
             
                <div class="row">
                    <div class="form-group"> 
                        <label for="numberOfFailedSQAnswerTemplates" class="col-lg-5 col-md-12 col-sm-12 col-xs-12 control-label"># Of Allowed Failed SQ Answer Templates</label>
                      <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                        <input type="text"  class="form-control" id="numberOfFailedSQAnswerTemplates" placeholder="Chris" autocomplete="off" value = "3" > 
                      </div> 
                      
                      <label for="nameOnEmails" class="col-lg-2 col-md-2  col-sm-12 col-xs-12 control-label">Name on Emails </label>
                      <div class="col-lg-3 col-md-3  col-sm-12 col-xs-12"> 
                         <input   class="form-control" id="nameOnEmails" placeholder="Chris" autocomplete="off"  value="City of Grand Rapids" > 
                      </div>   
                    </div>
                </div> 
                
                             
                <div class="row ">
                    <div class="form-group"> 
                        <label for="maxDaysToRepudidate" class="col-lg-5 col-md-5  col-sm-12 col-xs-12 control-label">Max days after report period end date to repudiate:</label>
                      <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                        <input type="text"  class="form-control" id="maxDaysToRepudidate" placeholder="Chris" autocomplete="off" value = "30" > 
                      </div> 
                      
                        
                     <label for="phoneOnEmails" class="col-lg-2 col-md-2 col-sm-12 col-xs-12  control-label">Phone # on Emails </label>
                      <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12"> 
                         <input   class="form-control" id="phoneOnEmails" placeholder="Chris" autocomplete="off"  value="616-456-3260" > 
                      </div> 
                    
                    </div>
                </div> 
                
                 <div class="row ">
                    <div class="form-group"> 
                        <label for="daysBeforeChangePassword" class="col-lg-5 col-md-5 col-sm-12  col-xs-12 control-label"># Of Days Before Requring a Password Change:</label>
                      <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                        <input type="text"  class="form-control" id="daysBeforeChangePassword" placeholder="Chris" autocomplete="off" value = "180" > 
                      </div> 
                    
                       <label for="emailOnEmails" class="col-lg-2 col-md-2 col-sm-12 control-label">Email on Emails </label>
                      <div class="col-lg-3 col-md-3 col-sm-12"> 
                         <input  class="form-control" id="emailOnEmails" placeholder="Chris" autocomplete="off"  value="linkoexchange@grand-rapid.mi.us" > 
                      </div>   
                        
                    </div>
                </div>  
                
                <div class="row ">
                    <div class="form-group"> 
                        <label for="firstName" class="col-lg-5 col-md-5 col-sm-12 control-label"># Of Password Used In Password History:</label>
                      <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                        <input type="text"  class="form-control" id="firstName" placeholder="Chris" autocomplete="off" value = "10" > 
                      </div> 
                                      
                     
                    </div>
                </div> 
                
                 <div class="row ">
                    <div class="form-group"> 
                        <label for="firstName" class="col-lg-5 col-md-5 col-sm-12 control-label">Time Zone*</label>
                      <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                        <input type="text"  class="form-control" id="firstName" placeholder="Chris" autocomplete="off" value = "10" > 
                      </div> 
                    
                       
                      <div class="col-xs-1">
                       
                      </div>   
                                                                    
                      <div class="col-xs-2"> 
                         
                      </div> 
                        
                    </div>
                </div> 
       </div> 
         
    </form>
</section>