<div class="box-header">

    <h3>Select Answers to 5 Knowledge Based Questions</h3>
    Knowledge Based Questions are used along with your password to further prove your identity during report submission.

    During report submission you will be required to enter an answer that matches what you enter below.
</div>


<form class="form-horizontal" _lpchecked="1">
  <div class="box-body">

<div class="form-group">
  <label for="question1" class="col-sm-2 control-label">Question 1 </label>

  <div class="col-sm-6">
    <select  ng-readonly="editmode == false"  class="form-control" class="col-sm-6" name="question1" id="question1" ng-model="userProfile.kbqQuestion1">
      <option ng-repeat="option in kbqQuestions.availableOptions" value="{{option.value}}">{{option.value}}</option>
    </select>
  </div>
</div>

<div class="form-group">
  <label for="question1Answer" class="col-sm-2 control-label"> <i style="color: red"> * </i>Answer</label>

  <div class="col-sm-6">
    <input type="textbox"  ng-readonly="editmode == false"   class="form-control" id="question1Answer"  ng-model="userProfile.kbqQuestion1Answer" autocomplete="off">
  </div>
</div>

<div class="form-group">
  <label for="question2" class="col-sm-2 control-label">Question 2 </label>

  <div class="col-sm-6">
    <select  ng-readonly="editmode == false"  class="form-control" class="col-sm-6" name="question2" id="question2" ng-model="userProfile.kbqQuestion2">
      <option ng-repeat="option in kbqQuestions.availableOptions" value="{{option.value}}">{{option.value}}</option>
    </select>
  </div>
</div>

<div class="form-group">
  <label for="question2Answer" class="col-sm-2 control-label"><i style="color: red"> * </i>Answer</label>

  <div class="col-sm-6">
    <input type="textbox" ng-readonly="editmode == false"   class="form-control" id="question2Answer"  ng-model="userProfile.kbqQuestion2Answer" autocomplete="off">
  </div>
</div>

<div class="form-group">
  <label for="question3" class="col-sm-2 control-label">Question 3 </label>
  <div class="col-sm-6">
    <select  ng-readonly="editmode == false"  class="form-control" class="col-sm-6" name="question3" id="question3" ng-model="userProfile.kbqQuestion3">
      <option ng-repeat="option in kbqQuestions.availableOptions" value="{{option.value}}">{{option.value}}</option>
    </select>
  </div>
</div>


<div class="form-group">
  <label for="question3Answer" class="col-sm-2 control-label"><i style="color: red"> * </i>Answer</label>

  <div class="col-sm-6">
    <input type="textbox" ng-readonly="editmode == false"   class="form-control" id="question3Answer"  ng-model="userProfile.kbqQuestion3Answer" autocomplete="off">
  </div>
</div>


<div class="form-group">
  <label for="question4" class="col-sm-2 control-label">Question 4 </label>
  <div class="col-sm-6">
    <select  ng-readonly="editmode == false"  class="form-control" class="col-sm-6" name="question4" id="question4" ng-model="userProfile.kbqQuestion4">
      <option ng-repeat="option in kbqQuestions.availableOptions" value="{{option.value}}">{{option.value}}</option>
    </select>
  </div>
</div>

<div class="form-group">
  <label for="question4Answer" class="col-sm-2 control-label"><i style="color: red"> * </i>Answer</label>

  <div class="col-sm-6">
    <input type="textbox"  ng-readonly="editmode == false"   class="form-control" id="question4Answer"  ng-model="userProfile.kbqQuestion4Answer" autocomplete="off">
  </div>
</div>


<div class="form-group">
  <label for="question5" class="col-sm-2 control-label">Question 5 </label>
  <div class="col-sm-6">
    <select ng-readonly="editmode == false"   class="form-control" class="col-sm-6" name="question4" id="question5" ng-model="userProfile.kbqQuestion5">
      <option ng-repeat="option in kbqQuestions.availableOptions" value="{{option.value}}">{{option.value}}</option>
    </select>
  </div>
</div>


<div class="form-group">
  <label for="question5Answer" class="col-sm-2 control-label"><i style="color: red"> * </i>Answer</label>

  <div class="col-sm-6">
    <input type="textbox"  ng-readonly="editmode == false"  class="form-control" id="question5Answer"  ng-model="userProfile.kbqQuestion5Answer" autocomplete="off">
  </div>
</div>

    </div>
  </form>
