<style>
  .content-wrapper {
    height: 1150px !important;
  }

</style>

<div class=" col-lg-12">
  <div class="box-header with-border">
    <div class="">
      <h3>{{title1}} </h3>
      <h4>{{title2}}</h4>
    </div>

    <ol class="breadcrumb-left visible-lg visible-md">
      <li><a href="/"><i class=""></i> Home </a></li>
      <li class="active" >My Profile</li>
    </ol>

  </div>

  <div class="seperator" > </div>
  <div class="panel">

    <div class="pane-group">
      <div class="panel-body panel-collapse collapse in">

        <div class="panel panel-default">
          <div class="panel-heading" data-toggle="collapse" data-target="#authoritySettingPanel"  ng-class="currentStep == 1 ? 'collapsed': 'expand' " >
            <strong>Profile Details</strong>
          </div>

          <!--ng-class="editProfileDetails == false ? 'expand': 'collapse'"-->
          <div class="panel-body panel-collapse collapse  in" id="authoritySettingPanel" ng-class="currentStep > 1 ? 'collapsed collapse': 'expand in'" >
            <div class="panel-collapse in collapse in" id="authoritySettingContent"  ng-class="currentStep > 1 ? 'collapsed collapse': 'expand in'" >

              <div class="row">
              <div profile-details user-profile= userProfile editmode= editProfileDetails  registration = false  />
              </div>
              <div class="form-group pull-right" >
                <button id="detailEditBtn" ng-if="editProfileDetails == false"  class="k-primary" ng-click="detailEditBtnClicked();">Edit</button>
                <!--<button id="detailNextBtn" ng-if="editProfileDetails == true"  class="k-primary" ng-click="detailNextBtnClicked();">Next</button>-->
                <button id="detailSavetBtn" ng-if="editProfileDetails == true" class="k-primary" ng-click="detailsSaveBtnClicked();"> Save </button>
              </div>

            </div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading" data-toggle="collapse" data-target="#kbqQuestionsPanel" ng-class="currentStep != 2 ? 'collapsed': 'expand' ">
            <strong>Knowledge Based Questions</strong>
          </div>

          <div class="panel-body panel-collapse collapse " id="kbqQuestionsPanel"  ng-class="currentStep != 2 ? 'collapsed': 'expand in' ">

            <div class="panel-collapse in collapse" id="kbqQuestionsContent">
              <div kbq-info title1= "title1"  kbq-questions="kbqQuestions" user-profile= "userProfile" editmode= editProfileKBQ  />

              <div class="form-group pull-right" >
                <!--<button id="kbqPreviousBtn" class="k-primary" ng-click="kbqPreviousBtnClicked();">Previous</button>-->
                <button id="kbqEditBtn" ng-if="editProfileKBQ == false" class="k-primary" ng-click="kbqEditBtnClicked();">Edit</button>
                <!--<button id="kbqNextBtn"  class="k-primary" ng-click="kbqNextBtnClicked();">Next</button>-->
                <button id="kbqSavetBtn" ng-if="editProfileKBQ == true" class="k-primary" ng-click="kbqSaveBtnClicked();"> Save </button>
              </div>
            </div>

          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading" data-toggle="collapse" data-target="#securityQuestionsPanel" ng-class="currentStep != 3 ? 'collapsed': 'expand' ">
            <strong>Security Questions</strong>
          </div>

          <div class="panel-body panel-collapse collapse" id="securityQuestionsPanel" ng-class="currentStep != 3 ? 'collapsed': 'expand in' ">

            <div class="panel-collapse in collapse" id="securityQuestionsContent">

              <div security-questions title1= "title1"  secure-questions ="secureQuestions" user-profile= "userProfile" editmode= editProfileSQ > </div>
              <br/>
              <div class=" form-group  pull-right" >
                <!--<button id="sqPreviousBtn" class="k-primary" ng-click="sqPriviousBtnClicked();"> Previous </button>-->

                <button id="sqSaveBtn" class="k-primary" ng-if="editProfileSQ == true" ng-click="sqSaveBtnClicked();"> Save </button>
                <button id="sqEditBtn" class="k-primary" ng-if="editProfileSQ == false" ng-click="sqEditBtnClicked();"> Edit </button>
              </div>

            </div>

          </div>
        </div>

      </div>
    </div>
  </div>




</div>
