
<div class="col-lg-12">
  <div class="box-header">
    <div class="">
      <h3>Select Answers to 2 Security Questions</h3>
      Security Questions are used to unlock your account if it is locked because of suspicion of compromise.
      You may be asked the answer to these questions by your authority.
    </div>

  </div>
 </div>

  <form class="form-horizontal" _lpchecked="1">
    <div class="box-body">

      <div class="form-group">
        <label for="secureQuestion1" class="col-sm-2 control-label">Question 1 </label>

        <div class="col-sm-6">
          <select ng-readonly="editmode == false"   class="form-control" class="col-sm-6" name="question4" id="secureQuestionAnswer1" ng-model="userProfile.secureQuestion1">
            <option ng-repeat="option in secureQuestions.availableOptions" value="{{option.value}}">{{option.value}}</option>
          </select>

        </div>
      </div>

      <div class="form-group">
        <label for="secureQuestionAnswer1" class="col-sm-2 control-label">Answer</label>

        <div class="col-sm-6">
          <input ng-readonly="editmode == false"  type="textbox"  class="form-control" id="secureQuestion1"  ng-model="userProfile.secureQuestion1Answer" autocomplete="off">
        </div>
      </div>

      <div class="form-group">
        <label for="secureQuestion2" class="col-sm-2 control-label">Question 2 </label>

        <div class="col-sm-6">
          <select  ng-readonly="editmode == false"  class="form-control" class="col-sm-6" name="question4" id="secureQuestion2" ng-model="userProfile.secureQuestion2">
            <option ng-repeat="option in secureQuestions.availableOptions" value="{{option.value}}">{{option.value}}</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label for="secureQuestionAnswer2" class="col-sm-2 control-label">Answer</label>

        <div class="col-sm-6">
          <input ng-readonly="editmode == false"  type="textbox"  class="form-control" id="secureQuestionAnswer2"  ng-model="userProfile.secureQuestion2Answer" autocomplete="off">
        </div>
      </div>


      <div class="form-group">
        <label for="agreeTerms" class="col-sm-2 control-label"> </label>

        <div class="col-sm-6">
          <input type="checkbox"  id="agreeTerms"
                 ng-model="userProfile.agreeTermsConditions" autocomplete="off">
          I agree to the LinkoExchange <a href="#">Terms and Conditions</a>
        </div>
      </div>
    </div>
  </form>
