 
<section class="content-header">
      <h1>
        Industries
        <small>Industries information</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home </a></li>
        <li class="active">Industries</li>
      </ol>  
</section>

<br/>
 
<label> 
    
<div class="input-group input-group-sm">
      <input type="text" class="form-control" placeholder="enter search text...">
      <span class="input-group-btn">
          <button type="button" class="btn btn-info btn-flat">Go!</button>
      </span>
    
  <div class="pull-right"  >  
    <button ng-disabled="industries.selectedOne === false"  id="primaryTextButton" class="k-primary" ng-click="industries.changeIndustryStatus();"  > {{industries.enabledButtonText }} </button>
    <button ng-disabled="industries.selectedOne === false" id="primaryTextButton" class="k-primary" ng-click="industries.industryUsers();"  >Industry User</button>
  </div>
 
</div>
</label>

<kendo-grid options="mainGridOptions_2" /> 