.center-nav{
    border:1px solid #ffffff;
    border-width:1px 0,0,1,0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
    height:49px;
    background-color: #3c8dbc
    
}
.center-nav li{
    display:inline;
    color:white; 
}
.center-nav a{
    display:inline-block;
    padding:10px; color:white; 
}



.breadcrumb-left {
    float: left;
    background: transparent;
    margin-top: 10;
    margin-bottom: 0;
    font-size: 12px;
    padding: 7px 5px;
    position: relative;
    top: 5px;
    left:-10px;
    border-radius: 2px;
    list-style: none;
}


.breadcrumb-left > li {
    display: inline-block;
    padding: 0 5px; 
}


.breadcrumb-left > li + li:before {
   content: "/\00a0"; // Unicode space added since inline-block means non-collapsing white-space
   padding: 0 5px;
   color: #ccc; 
}


.action-panel {
    float:right;
    margin-right: -15px;
}

.seperator {
    width:100%;
    height:1px;
    border:1px solid #ffffff;
    border-width:1px 0,0,1,0;
    margin-bottom: 10px;
}


@media (min-width: 768px) {
   .control-label{
      text-align: left; 
  }
}

@media (min-width: 768px) {
    .control-label {
      text-align: left !important;
      margin-bottom: 0;
      padding-top: (@padding-base-vertical + 1); // Default padding plus a border
    }
  }

@media (min-width: 970px) {
    .control-label {
      text-align: left !important;
      margin-bottom: 0;
      padding-top: (@padding-base-vertical + 1); // Default padding plus a border
    }
  }


/*
@media screen and (max-width: 768px) { 
    
     .k-grid-content >  table {
      border: 0;
    }

     .k-grid-content > table thead {
      display: none;
    }

     .k-grid-content > table tr {
      margin-bottom: 10px;
      display: block;
      border-bottom: 2px solid #ddd;
    }

    .k-grid-content >  table td {
      display: block;
      text-align: right;
      font-size: 13px;
      border-bottom: 1px dotted #ccc;
    }

    .k-grid-content >  table td:last-child {
      border-bottom: 0;
    }

    .k-grid-content >  table td:before {
      content: attr(data-label);
      float: left;
      text-transform: uppercase;
      font-weight: bold;
    } 
}*/
 

.content-wrapper {
   min-height: 980px !important;  
}

.extra-menu-pandel {
    position: absolute;
    top: 50px;
    z-index: 10000;
    background-color: black;
/*    background-color: #222d32;*/
    overflow:auto;
}

.extra-menu-panel a {
    color:#b8c7ce;
}